pipr_dataset/270367247.yaml
Resources:
  LuckyNumberScoreDD43FA49:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        - AttributeName: contestant
          KeyType: HASH
      AttributeDefinitions:
        - AttributeName: contestant
          AttributeType: S
      ProvisionedThroughput:
        ReadCapacityUnits: 5
        WriteCapacityUnits: 5
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: LuckyNumberStack/LuckyNumberScore/Resource
  NewGameLambdaServiceRole05EF9A06:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: LuckyNumberStack/NewGameLambda/ServiceRole/Resource
  NewGameLambdaServiceRoleDefaultPolicyE621824E:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - LuckyNumberScoreDD43FA49
                  - Arn
              - Ref: AWS::NoValue
        Version: "2012-10-17"
      PolicyName: NewGameLambdaServiceRoleDefaultPolicyE621824E
      Roles:
        - Ref: NewGameLambdaServiceRole05EF9A06
    Metadata:
      aws:cdk:path: LuckyNumberStack/NewGameLambda/ServiceRole/DefaultPolicy/Resource
  NewGameLambda3724E817:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersb740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1S3BucketE807C2DC
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersb740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1S3VersionKey6DC728E3
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersb740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1S3VersionKey6DC728E3
      Handler: new-game.handler
      Role:
        Fn::GetAtt:
          - NewGameLambdaServiceRole05EF9A06
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          SCORE_TABLE:
            Ref: LuckyNumberScoreDD43FA49
    DependsOn:
      - NewGameLambdaServiceRoleDefaultPolicyE621824E
      - NewGameLambdaServiceRole05EF9A06
    Metadata:
      aws:cdk:path: LuckyNumberStack/NewGameLambda/Resource
      aws:asset:path: asset.b740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1
      aws:asset:property: Code
  DrawLambdaServiceRole39C92C2A:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: LuckyNumberStack/DrawLambda/ServiceRole/Resource
  DrawLambdaD5FC74CE:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761S3Bucket6CA09A73
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761S3VersionKey10517419
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761S3VersionKey10517419
      Handler: draw.handler
      Role:
        Fn::GetAtt:
          - DrawLambdaServiceRole39C92C2A
          - Arn
      Runtime: nodejs12.x
    DependsOn:
      - DrawLambdaServiceRole39C92C2A
    Metadata:
      aws:cdk:path: LuckyNumberStack/DrawLambda/Resource
      aws:asset:path: asset.3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761
      aws:asset:property: Code
  IncrementOneScoreLambdaServiceRole121D1927:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: LuckyNumberStack/IncrementOneScoreLambda/ServiceRole/Resource
  IncrementOneScoreLambdaServiceRoleDefaultPolicyE30EFC93:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - LuckyNumberScoreDD43FA49
                  - Arn
              - Ref: AWS::NoValue
        Version: "2012-10-17"
      PolicyName: IncrementOneScoreLambdaServiceRoleDefaultPolicyE30EFC93
      Roles:
        - Ref: IncrementOneScoreLambdaServiceRole121D1927
    Metadata:
      aws:cdk:path: LuckyNumberStack/IncrementOneScoreLambda/ServiceRole/DefaultPolicy/Resource
  IncrementOneScoreLambda59F71E36:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88S3BucketC11B4EAA
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88S3VersionKeyE28AD229
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88S3VersionKeyE28AD229
      Handler: increment-one-score.handler
      Role:
        Fn::GetAtt:
          - IncrementOneScoreLambdaServiceRole121D1927
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          SCORE_TABLE:
            Ref: LuckyNumberScoreDD43FA49
    DependsOn:
      - IncrementOneScoreLambdaServiceRoleDefaultPolicyE30EFC93
      - IncrementOneScoreLambdaServiceRole121D1927
    Metadata:
      aws:cdk:path: LuckyNumberStack/IncrementOneScoreLambda/Resource
      aws:asset:path: asset.8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88
      aws:asset:property: Code
  IncrementTwoScoreLambdaServiceRoleAD4BAC1D:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: LuckyNumberStack/IncrementTwoScoreLambda/ServiceRole/Resource
  IncrementTwoScoreLambdaServiceRoleDefaultPolicy4E274CBF:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - LuckyNumberScoreDD43FA49
                  - Arn
              - Ref: AWS::NoValue
        Version: "2012-10-17"
      PolicyName: IncrementTwoScoreLambdaServiceRoleDefaultPolicy4E274CBF
      Roles:
        - Ref: IncrementTwoScoreLambdaServiceRoleAD4BAC1D
    Metadata:
      aws:cdk:path: LuckyNumberStack/IncrementTwoScoreLambda/ServiceRole/DefaultPolicy/Resource
  IncrementTwoScoreLambdaCB83EC97:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bcS3BucketCE00DFE6
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bcS3VersionKeyD86C37A6
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bcS3VersionKeyD86C37A6
      Handler: increment-two-score.handler
      Role:
        Fn::GetAtt:
          - IncrementTwoScoreLambdaServiceRoleAD4BAC1D
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          SCORE_TABLE:
            Ref: LuckyNumberScoreDD43FA49
    DependsOn:
      - IncrementTwoScoreLambdaServiceRoleDefaultPolicy4E274CBF
      - IncrementTwoScoreLambdaServiceRoleAD4BAC1D
    Metadata:
      aws:cdk:path: LuckyNumberStack/IncrementTwoScoreLambda/Resource
      aws:asset:path: asset.7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bc
      aws:asset:property: Code
  CheckScoreboardLambdaServiceRoleC401CBBD:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: LuckyNumberStack/CheckScoreboardLambda/ServiceRole/Resource
  CheckScoreboardLambdaServiceRoleDefaultPolicy2A809C97:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - LuckyNumberScoreDD43FA49
                  - Arn
              - Ref: AWS::NoValue
        Version: "2012-10-17"
      PolicyName: CheckScoreboardLambdaServiceRoleDefaultPolicy2A809C97
      Roles:
        - Ref: CheckScoreboardLambdaServiceRoleC401CBBD
    Metadata:
      aws:cdk:path: LuckyNumberStack/CheckScoreboardLambda/ServiceRole/DefaultPolicy/Resource
  CheckScoreboardLambda200BA289:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251S3Bucket850E6706
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251S3VersionKeyE6CA5BE6
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251S3VersionKeyE6CA5BE6
      Handler: check-scoreboard.handler
      Role:
        Fn::GetAtt:
          - CheckScoreboardLambdaServiceRoleC401CBBD
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          SCORE_TABLE:
            Ref: LuckyNumberScoreDD43FA49
    DependsOn:
      - CheckScoreboardLambdaServiceRoleDefaultPolicy2A809C97
      - CheckScoreboardLambdaServiceRoleC401CBBD
    Metadata:
      aws:cdk:path: LuckyNumberStack/CheckScoreboardLambda/Resource
      aws:asset:path: asset.39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251
      aws:asset:property: Code
  LuckyDrawRole20EA6CC6:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - states.
                    - Ref: AWS::Region
                    - .amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: LuckyNumberStack/LuckyDraw/Role/Resource
  LuckyDrawRoleDefaultPolicy35516D98:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - NewGameLambda3724E817
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - DrawLambdaD5FC74CE
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - IncrementOneScoreLambda59F71E36
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - CheckScoreboardLambda200BA289
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - IncrementTwoScoreLambdaCB83EC97
                - Arn
        Version: "2012-10-17"
      PolicyName: LuckyDrawRoleDefaultPolicy35516D98
      Roles:
        - Ref: LuckyDrawRole20EA6CC6
    Metadata:
      aws:cdk:path: LuckyNumberStack/LuckyDraw/Role/DefaultPolicy/Resource
  LuckyDraw701CFE05:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - LuckyDrawRole20EA6CC6
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"NewGame","States":{"NewGame":{"Next":"Draw","Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - NewGameLambda3724E817
                - Arn
            - '","Payload.$":"$"}},"Draw":{"Next":"ExamineResult","Retry":[{"ErrorEquals":["States.ALL"],"IntervalSeconds":2,"MaxAttempts":3}],"Type":"Task","OutputPath":"$.result.Payload","ResultPath":"$.result","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - DrawLambdaD5FC74CE
                - Arn
            - '","Payload.$":"$"}},"ExamineResult":{"Type":"Choice","Choices":[{"Variable":"$.result","NumericEquals":1,"Next":"IncrementOneScore"},{"Variable":"$.result","NumericEquals":2,"Next":"IncrementTwoScore"}]},"IncrementOneScore":{"Next":"CheckScoreboard","Type":"Task","OutputPath":"$.result.Payload","ResultPath":"$.result","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - IncrementOneScoreLambda59F71E36
                - Arn
            - '","Payload.$":"$"}},"CheckScoreboard":{"Next":"DrawAgainOrGameOver","Type":"Task","OutputPath":"$.winner.Payload","ResultPath":"$.winner","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - CheckScoreboardLambda200BA289
                - Arn
            - '","Payload.$":"$"}},"IncrementTwoScore":{"Next":"CheckScoreboard","Type":"Task","OutputPath":"$.result.Payload","ResultPath":"$.result","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - IncrementTwoScoreLambdaCB83EC97
                - Arn
            - '","Payload.$":"$"}},"DrawAgainOrGameOver":{"Type":"Choice","Choices":[{"Variable":"$.winner","StringEquals":"one","Next":"Game Over"},{"Variable":"$.winner","StringEquals":"two","Next":"Game Over"}],"Default":"Draw"},"Game Over":{"Type":"Pass","End":true}},"TimeoutSeconds":600}'
    DependsOn:
      - LuckyDrawRoleDefaultPolicy35516D98
      - LuckyDrawRole20EA6CC6
    Metadata:
      aws:cdk:path: LuckyNumberStack/LuckyDraw/Resource
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Modules: aws-cdk=2.113.0,@aws-cdk/assets=1.44.0,@aws-cdk/aws-applicationautoscaling=1.44.0,@aws-cdk/aws-autoscaling=1.44.0,@aws-cdk/aws-autoscaling-common=1.44.0,@aws-cdk/aws-autoscaling-hooktargets=1.44.0,@aws-cdk/aws-cloudwatch=1.44.0,@aws-cdk/aws-dynamodb=1.44.0,@aws-cdk/aws-ec2=1.44.0,@aws-cdk/aws-ecr=1.44.0,@aws-cdk/aws-ecr-assets=1.44.0,@aws-cdk/aws-ecs=1.44.0,@aws-cdk/aws-elasticloadbalancingv2=1.44.0,@aws-cdk/aws-events=1.44.0,@aws-cdk/aws-iam=1.44.0,@aws-cdk/aws-kms=1.44.0,@aws-cdk/aws-lambda=1.44.0,@aws-cdk/aws-logs=1.44.0,@aws-cdk/aws-s3=1.44.0,@aws-cdk/aws-s3-assets=1.44.0,@aws-cdk/aws-servicediscovery=1.44.0,@aws-cdk/aws-sns=1.44.0,@aws-cdk/aws-sns-subscriptions=1.44.0,@aws-cdk/aws-sqs=1.44.0,@aws-cdk/aws-ssm=1.44.0,@aws-cdk/aws-stepfunctions=1.44.0,@aws-cdk/aws-stepfunctions-tasks=1.44.0,@aws-cdk/cdk-assets-schema=1.44.0,@aws-cdk/cloud-assembly-schema=1.44.0,@aws-cdk/core=1.44.0,@aws-cdk/custom-resources=1.44.0,@aws-cdk/cx-api=1.44.0,@aws-cdk/region-info=1.44.0,jsii-runtime=node.js/v18.12.1
    Condition: CDKMetadataAvailable
Parameters:
  AssetParametersb740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1S3BucketE807C2DC:
    Type: String
    Description: S3 bucket for asset "b740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1"
  AssetParametersb740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1S3VersionKey6DC728E3:
    Type: String
    Description: S3 key for asset version "b740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1"
  AssetParametersb740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1ArtifactHash964C3BF3:
    Type: String
    Description: Artifact hash for asset "b740a2a038874d31c2ce997544a56189f25cd87228d4100a1964184b7fd99fb1"
  AssetParameters3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761S3Bucket6CA09A73:
    Type: String
    Description: S3 bucket for asset "3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761"
  AssetParameters3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761S3VersionKey10517419:
    Type: String
    Description: S3 key for asset version "3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761"
  AssetParameters3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761ArtifactHash5F6D2C38:
    Type: String
    Description: Artifact hash for asset "3ffb06c902d47070b35d9250767ed65b9404f41fdecac3c3f9c062294f85d761"
  AssetParameters8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88S3BucketC11B4EAA:
    Type: String
    Description: S3 bucket for asset "8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88"
  AssetParameters8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88S3VersionKeyE28AD229:
    Type: String
    Description: S3 key for asset version "8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88"
  AssetParameters8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88ArtifactHash58D5B325:
    Type: String
    Description: Artifact hash for asset "8337e2a193cf99d68a8bc78126c484e582e1c213d8955d3050b47ac762236c88"
  AssetParameters7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bcS3BucketCE00DFE6:
    Type: String
    Description: S3 bucket for asset "7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bc"
  AssetParameters7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bcS3VersionKeyD86C37A6:
    Type: String
    Description: S3 key for asset version "7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bc"
  AssetParameters7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bcArtifactHashCD3603B3:
    Type: String
    Description: Artifact hash for asset "7182040d76ce5aded1a8dcc90e51e6589d9dcda7518b7b52b02724c98758c6bc"
  AssetParameters39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251S3Bucket850E6706:
    Type: String
    Description: S3 bucket for asset "39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251"
  AssetParameters39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251S3VersionKeyE6CA5BE6:
    Type: String
    Description: S3 key for asset version "39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251"
  AssetParameters39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251ArtifactHash8D211FF3:
    Type: String
    Description: Artifact hash for asset "39663c6db351041bf11aa6fc76410cacab6e88f5268142945dc817133e670251"
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - il-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - me-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2

