pipr_dataset/335121835.yaml
Description: (SO0140) - Amazon S3 Glacier Re:Freezer copies Amazon S3 Glacier Vault archives to Amazon S3 Bucket. Version %%VERSION%%
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: Required input parameters
        Parameters:
          - SourceVault
          - DestinationBucket
          - DestinationStorageClass
          - GlacierRetrievalTier
      - Label:
          default: Confirmation to avoid excessive costs
        Parameters:
          - CloudTrailExportConfirmation
          - SNSTopicForVaultConfirmation
      - Label:
          default: "[OPTIONAL] External filenames override for ArchiveDescription"
        Parameters:
          - FilelistS3Location
    ParameterLabels:
      SourceVault:
        default: Source Glacier vault name
      DestinationBucket:
        default: S3 destination bucket name
      DestinationStorageClass:
        default: S3 destination storage class
      GlacierRetrievalTier:
        default: Glacier retrieval tier
      FilelistS3Location:
        default: Amazon S3 location of the CSV file as BUCKET/FILEPATH
      CloudTrailExportConfirmation:
        default: Have you checked that there is only one Cloudtrail export to S3 bucket configured in your account?
      SNSTopicForVaultConfirmation:
        default: Has default SNS notification topic on the vault been disabled or is it acceptable to receive notification for ALL archives in the vault?
Mappings:
  AnonymousStatisticsMap:
    SendAnonymousStatistics:
      Data: "Yes"
Parameters:
  SourceVault:
    Type: String
    AllowedPattern: .+
  DestinationBucket:
    Type: String
    AllowedPattern: .+
  DestinationStorageClass:
    Type: String
    Default: STANDARD
    AllowedValues:
      - STANDARD
      - INTELLIGENT_TIERING
      - STANDARD_IA
      - ONEZONE_IA
      - GLACIER_IR
      - GLACIER
      - DEEP_ARCHIVE
  GlacierRetrievalTier:
    Type: String
    Default: Bulk
    AllowedValues:
      - Bulk
      - Standard
      - Expedited
  FilelistS3Location:
    Type: String
    Default: ""
  CloudTrailExportConfirmation:
    Type: String
    AllowedValues:
      - "Yes"
      - "No"
  SNSTopicForVaultConfirmation:
    Type: String
    AllowedValues:
      - "Yes"
      - "No"
  AssetParameters435de292f97aefedec6e1ede25ab05ae002cafd09ebdc41168c79f9ddfbb54d5S3BucketF436652B:
    Type: String
    Description: S3 bucket for asset "435de292f97aefedec6e1ede25ab05ae002cafd09ebdc41168c79f9ddfbb54d5"
  AssetParameters435de292f97aefedec6e1ede25ab05ae002cafd09ebdc41168c79f9ddfbb54d5S3VersionKey579331B7:
    Type: String
    Description: S3 key for asset version "435de292f97aefedec6e1ede25ab05ae002cafd09ebdc41168c79f9ddfbb54d5"
  AssetParameters435de292f97aefedec6e1ede25ab05ae002cafd09ebdc41168c79f9ddfbb54d5ArtifactHash378AF248:
    Type: String
    Description: Artifact hash for asset "435de292f97aefedec6e1ede25ab05ae002cafd09ebdc41168c79f9ddfbb54d5"
  AssetParameters331c088a2d9dfd0dd55bcb03ce9fa5ea4d33f19cbb65105015f7fc23f17d681dS3BucketD70A56EA:
    Type: String
    Description: S3 bucket for asset "331c088a2d9dfd0dd55bcb03ce9fa5ea4d33f19cbb65105015f7fc23f17d681d"
  AssetParameters331c088a2d9dfd0dd55bcb03ce9fa5ea4d33f19cbb65105015f7fc23f17d681dS3VersionKey0D8F5C64:
    Type: String
    Description: S3 key for asset version "331c088a2d9dfd0dd55bcb03ce9fa5ea4d33f19cbb65105015f7fc23f17d681d"
  AssetParameters331c088a2d9dfd0dd55bcb03ce9fa5ea4d33f19cbb65105015f7fc23f17d681dArtifactHash54F69FAA:
    Type: String
    Description: Artifact hash for asset "331c088a2d9dfd0dd55bcb03ce9fa5ea4d33f19cbb65105015f7fc23f17d681d"
  AssetParameters4899ffab842b7e846e31288004bb7705b200f2537b8a02196e43118acb1557f5S3Bucket7F529FEF:
    Type: String
    Description: S3 bucket for asset "4899ffab842b7e846e31288004bb7705b200f2537b8a02196e43118acb1557f5"
  AssetParameters4899ffab842b7e846e31288004bb7705b200f2537b8a02196e43118acb1557f5S3VersionKey475E2C0A:
    Type: String
    Description: S3 key for asset version "4899ffab842b7e846e31288004bb7705b200f2537b8a02196e43118acb1557f5"
  AssetParameters4899ffab842b7e846e31288004bb7705b200f2537b8a02196e43118acb1557f5ArtifactHash31886678:
    Type: String
    Description: Artifact hash for asset "4899ffab842b7e846e31288004bb7705b200f2537b8a02196e43118acb1557f5"
  AssetParameterse9001c25dca9384e95c94fd2f99449d6f3e1bce271d695f21b2e8f96e6501bb4S3Bucket39BE5760:
    Type: String
    Description: S3 bucket for asset "e9001c25dca9384e95c94fd2f99449d6f3e1bce271d695f21b2e8f96e6501bb4"
  AssetParameterse9001c25dca9384e95c94fd2f99449d6f3e1bce271d695f21b2e8f96e6501bb4S3VersionKeyE42DD05A:
    Type: String
    Description: S3 key for asset version "e9001c25dca9384e95c94fd2f99449d6f3e1bce271d695f21b2e8f96e6501bb4"
  AssetParameterse9001c25dca9384e95c94fd2f99449d6f3e1bce271d695f21b2e8f96e6501bb4ArtifactHash6B0FC90A:
    Type: String
    Description: Artifact hash for asset "e9001c25dca9384e95c94fd2f99449d6f3e1bce271d695f21b2e8f96e6501bb4"
  AssetParametersfcfb7da9b88c8192ed2b6f4536350df608c6358e092203187aebb51dbb2d8816S3Bucket09E466E6:
    Type: String
    Description: S3 bucket for asset "fcfb7da9b88c8192ed2b6f4536350df608c6358e092203187aebb51dbb2d8816"
  AssetParametersfcfb7da9b88c8192ed2b6f4536350df608c6358e092203187aebb51dbb2d8816S3VersionKeyE09AE473:
    Type: String
    Description: S3 key for asset version "fcfb7da9b88c8192ed2b6f4536350df608c6358e092203187aebb51dbb2d8816"
  AssetParametersfcfb7da9b88c8192ed2b6f4536350df608c6358e092203187aebb51dbb2d8816ArtifactHash008935D7:
    Type: String
    Description: Artifact hash for asset "fcfb7da9b88c8192ed2b6f4536350df608c6358e092203187aebb51dbb2d8816"
  AssetParameters5943e7783ffa7ea94498341d0344ec8d7fcd828674a604b3aabc6a790fae2ffaS3Bucket134F594A:
    Type: String
    Description: S3 bucket for asset "5943e7783ffa7ea94498341d0344ec8d7fcd828674a604b3aabc6a790fae2ffa"
  AssetParameters5943e7783ffa7ea94498341d0344ec8d7fcd828674a604b3aabc6a790fae2ffaS3VersionKey372922E5:
    Type: String
    Description: S3 key for asset version "5943e7783ffa7ea94498341d0344ec8d7fcd828674a604b3aabc6a790fae2ffa"
  AssetParameters5943e7783ffa7ea94498341d0344ec8d7fcd828674a604b3aabc6a790fae2ffaArtifactHash7AC8E15C:
    Type: String
    Description: Artifact hash for asset "5943e7783ffa7ea94498341d0344ec8d7fcd828674a604b3aabc6a790fae2ffa"
  AssetParametersd5518d4a240ac57bd92785a71f27eda7d116d46ed1bc6df6805636a9ce8ae86eS3Bucket2468ACCF:
    Type: String
    Description: S3 bucket for asset "d5518d4a240ac57bd92785a71f27eda7d116d46ed1bc6df6805636a9ce8ae86e"
  AssetParametersd5518d4a240ac57bd92785a71f27eda7d116d46ed1bc6df6805636a9ce8ae86eS3VersionKey72DB0BC0:
    Type: String
    Description: S3 key for asset version "d5518d4a240ac57bd92785a71f27eda7d116d46ed1bc6df6805636a9ce8ae86e"
  AssetParametersd5518d4a240ac57bd92785a71f27eda7d116d46ed1bc6df6805636a9ce8ae86eArtifactHashAB981E7D:
    Type: String
    Description: Artifact hash for asset "d5518d4a240ac57bd92785a71f27eda7d116d46ed1bc6df6805636a9ce8ae86e"
  AssetParameters29bd45266b1531044571f1ed671bc02b1a3a5b2ebd0c7c61e5d372a2ea938c1cS3Bucket7EFE1A6E:
    Type: String
    Description: S3 bucket for asset "29bd45266b1531044571f1ed671bc02b1a3a5b2ebd0c7c61e5d372a2ea938c1c"
  AssetParameters29bd45266b1531044571f1ed671bc02b1a3a5b2ebd0c7c61e5d372a2ea938c1cS3VersionKey05CF7B57:
    Type: String
    Description: S3 key for asset version "29bd45266b1531044571f1ed671bc02b1a3a5b2ebd0c7c61e5d372a2ea938c1c"
  AssetParameters29bd45266b1531044571f1ed671bc02b1a3a5b2ebd0c7c61e5d372a2ea938c1cArtifactHash0181D542:
    Type: String
    Description: Artifact hash for asset "29bd45266b1531044571f1ed671bc02b1a3a5b2ebd0c7c61e5d372a2ea938c1c"
  AssetParametersd7197c0a14f8c35f70a8300917c5395c43168d073d1b479d71621a4353ae490cS3Bucket705EC075:
    Type: String
    Description: S3 bucket for asset "d7197c0a14f8c35f70a8300917c5395c43168d073d1b479d71621a4353ae490c"
  AssetParametersd7197c0a14f8c35f70a8300917c5395c43168d073d1b479d71621a4353ae490cS3VersionKey3A214D81:
    Type: String
    Description: S3 key for asset version "d7197c0a14f8c35f70a8300917c5395c43168d073d1b479d71621a4353ae490c"
  AssetParametersd7197c0a14f8c35f70a8300917c5395c43168d073d1b479d71621a4353ae490cArtifactHash3B8DD566:
    Type: String
    Description: Artifact hash for asset "d7197c0a14f8c35f70a8300917c5395c43168d073d1b479d71621a4353ae490c"
  AssetParametersf7074a15c3231287294e5f7e00897111bf61f61b36fca946bb54306a54ba581dS3Bucket31F49CAC:
    Type: String
    Description: S3 bucket for asset "f7074a15c3231287294e5f7e00897111bf61f61b36fca946bb54306a54ba581d"
  AssetParametersf7074a15c3231287294e5f7e00897111bf61f61b36fca946bb54306a54ba581dS3VersionKey95C23E32:
    Type: String
    Description: S3 key for asset version "f7074a15c3231287294e5f7e00897111bf61f61b36fca946bb54306a54ba581d"
  AssetParametersf7074a15c3231287294e5f7e00897111bf61f61b36fca946bb54306a54ba581dArtifactHash648A6B6B:
    Type: String
    Description: Artifact hash for asset "f7074a15c3231287294e5f7e00897111bf61f61b36fca946bb54306a54ba581d"
  AssetParameters8febf8c88e80304d4b594710e047bbbd55884939f6cf420047f1f34ccc49f284S3Bucket0D9544B3:
    Type: String
    Description: S3 bucket for asset "8febf8c88e80304d4b594710e047bbbd55884939f6cf420047f1f34ccc49f284"
  AssetParameters8febf8c88e80304d4b594710e047bbbd55884939f6cf420047f1f34ccc49f284S3VersionKey2F48D9F4:
    Type: String
    Description: S3 key for asset version "8febf8c88e80304d4b594710e047bbbd55884939f6cf420047f1f34ccc49f284"
  AssetParameters8febf8c88e80304d4b594710e047bbbd55884939f6cf420047f1f34ccc49f284ArtifactHash051C932A:
    Type: String
    Description: Artifact hash for asset "8febf8c88e80304d4b594710e047bbbd55884939f6cf420047f1f34ccc49f284"
  AssetParametersa0c173e593f496a1ef5d38a8668315ee59a9f0899266a81ea3d4bf5d3ac10c07S3BucketC20C16B8:
    Type: String
    Description: S3 bucket for asset "a0c173e593f496a1ef5d38a8668315ee59a9f0899266a81ea3d4bf5d3ac10c07"
  AssetParametersa0c173e593f496a1ef5d38a8668315ee59a9f0899266a81ea3d4bf5d3ac10c07S3VersionKeyCDBABC1A:
    Type: String
    Description: S3 key for asset version "a0c173e593f496a1ef5d38a8668315ee59a9f0899266a81ea3d4bf5d3ac10c07"
  AssetParametersa0c173e593f496a1ef5d38a8668315ee59a9f0899266a81ea3d4bf5d3ac10c07ArtifactHash4C2EB8F9:
    Type: String
    Description: Artifact hash for asset "a0c173e593f496a1ef5d38a8668315ee59a9f0899266a81ea3d4bf5d3ac10c07"
  AssetParametersa234a6a137f5545986e727157f7817aaa55cd08312ae553d0ee4ab8d7504a9e9S3Bucket0901E39E:
    Type: String
    Description: S3 bucket for asset "a234a6a137f5545986e727157f7817aaa55cd08312ae553d0ee4ab8d7504a9e9"
  AssetParametersa234a6a137f5545986e727157f7817aaa55cd08312ae553d0ee4ab8d7504a9e9S3VersionKey73F09406:
    Type: String
    Description: S3 key for asset version "a234a6a137f5545986e727157f7817aaa55cd08312ae553d0ee4ab8d7504a9e9"
  AssetParametersa234a6a137f5545986e727157f7817aaa55cd08312ae553d0ee4ab8d7504a9e9ArtifactHash088BAEF3:
    Type: String
    Description: Artifact hash for asset "a234a6a137f5545986e727157f7817aaa55cd08312ae553d0ee4ab8d7504a9e9"
  AssetParameters287f2c4d9d58db12cb1177e514e26bd1ae891e4604832c3330944c5686693ba8S3Bucket930EAB07:
    Type: String
    Description: S3 bucket for asset "287f2c4d9d58db12cb1177e514e26bd1ae891e4604832c3330944c5686693ba8"
  AssetParameters287f2c4d9d58db12cb1177e514e26bd1ae891e4604832c3330944c5686693ba8S3VersionKey1B439300:
    Type: String
    Description: S3 key for asset version "287f2c4d9d58db12cb1177e514e26bd1ae891e4604832c3330944c5686693ba8"
  AssetParameters287f2c4d9d58db12cb1177e514e26bd1ae891e4604832c3330944c5686693ba8ArtifactHash0FA3D26E:
    Type: String
    Description: Artifact hash for asset "287f2c4d9d58db12cb1177e514e26bd1ae891e4604832c3330944c5686693ba8"
Resources:
  stagingBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W51
            reason: This bucket does not need a bucket policy
          - id: W35
            reason: Temporary storage - access logs are not required. EngSec exemption received.
  stagingBucketStagingBucketPolicyCD743064:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: stagingBucket
      PolicyDocument:
        Statement:
          - Action: s3:*
            Condition:
              Bool:
                aws:SecureTransport: "false"
            Effect: Deny
            Principal:
              AWS: "*"
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stagingBucket/StagingBucket/Policy/Resource
  glueDataCatalogtoLowercaseServiceRole45F7D11F:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/glueDataCatalog/toLowercase/ServiceRole/Resource
  glueDataCatalogtoLowercase8AA0AFF5:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters435de292f97aefedec6e1ede25ab05ae002cafd09ebdc41168c79f9ddfbb54d5S3BucketF436652B
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters435de292f97aefedec6e1ede25ab05ae002cafd09ebdc41168c79f9ddfbb54d5S3VersionKey579331B7
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters435de292f97aefedec6e1ede25ab05ae002cafd09ebdc41168c79f9ddfbb54d5S3VersionKey579331B7
      Role:
        Fn::GetAtt:
          - glueDataCatalogtoLowercaseServiceRole45F7D11F
          - Arn
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -toLowercase
      Handler: index.handler
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - glueDataCatalogtoLowercaseServiceRole45F7D11F
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  glueDataCatalogtoLowercaseTrigger0ABB3AB5:
    Type: AWS::CloudFormation::CustomResource
    Properties:
      ServiceToken:
        Fn::GetAtt:
          - glueDataCatalogtoLowercase8AA0AFF5
          - Arn
      stack_name:
        Ref: AWS::StackName
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/glueDataCatalog/toLowercaseTrigger/Default
  glueDataCatalogInventoryDatabase96DE1AD3:
    Type: AWS::Glue::Database
    Properties:
      CatalogId:
        Ref: AWS::AccountId
      DatabaseInput:
        Name:
          Fn::Join:
            - ""
            - - Fn::GetAtt:
                  - glueDataCatalogtoLowercaseTrigger0ABB3AB5
                  - stack_name
              - -inventory
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/glueDataCatalog/InventoryDatabase/Resource
  glueDataCatalogInventoryTable05E5F37F:
    Type: AWS::Glue::Table
    Properties:
      CatalogId:
        Ref: AWS::AccountId
      DatabaseName:
        Ref: glueDataCatalogInventoryDatabase96DE1AD3
      TableInput:
        Description:
          Fn::Join:
            - ""
            - - Fn::GetAtt:
                  - glueDataCatalogtoLowercaseTrigger0ABB3AB5
                  - stack_name
              - -grf-inventory generated by CDK
        Name:
          Fn::Join:
            - ""
            - - Fn::GetAtt:
                  - glueDataCatalogtoLowercaseTrigger0ABB3AB5
                  - stack_name
              - -grf-inventory
        Parameters:
          has_encrypted_data: false
          skip.header.line.count: "1"
        StorageDescriptor:
          Columns:
            - Name: archiveid
              Type: string
            - Name: archivedescription
              Type: string
            - Name: creationdate
              Type: string
            - Name: size
              Type: bigint
            - Name: sha256treehash
              Type: string
          Compressed: false
          InputFormat: org.apache.hadoop.mapred.TextInputFormat
          Location:
            Fn::Join:
              - ""
              - - s3://
                - Ref: stagingBucket
                - /inventory/
          OutputFormat: org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat
          SerdeInfo:
            Parameters:
              escapeChar: \
              quoteChar: '"'
            SerializationLibrary: org.apache.hadoop.hive.serde2.OpenCSVSerde
          StoredAsSubDirectories: false
        TableType: EXTERNAL_TABLE
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/glueDataCatalog/InventoryTable/Table
  glueDataCatalogFilelistTable2224351B:
    Type: AWS::Glue::Table
    Properties:
      CatalogId:
        Ref: AWS::AccountId
      DatabaseName:
        Ref: glueDataCatalogInventoryDatabase96DE1AD3
      TableInput:
        Description:
          Fn::Join:
            - ""
            - - Fn::GetAtt:
                  - glueDataCatalogtoLowercaseTrigger0ABB3AB5
                  - stack_name
              - -grf-filelist generated by CDK
        Name:
          Fn::Join:
            - ""
            - - Fn::GetAtt:
                  - glueDataCatalogtoLowercaseTrigger0ABB3AB5
                  - stack_name
              - -grf-filelist
        Parameters:
          has_encrypted_data: false
        StorageDescriptor:
          Columns:
            - Name: archiveid
              Type: string
            - Name: override
              Type: string
          Compressed: false
          InputFormat: org.apache.hadoop.mapred.TextInputFormat
          Location:
            Fn::Join:
              - ""
              - - s3://
                - Ref: stagingBucket
                - /filelist/
          OutputFormat: org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat
          SerdeInfo:
            SerializationLibrary: org.apache.hadoop.hive.serde2.OpenCSVSerde
          StoredAsSubDirectories: false
        TableType: EXTERNAL_TABLE
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/glueDataCatalog/FilelistTable/Table
  glueDataCatalogPartitionedinventoryTable94032B41:
    Type: AWS::Glue::Table
    Properties:
      CatalogId:
        Ref: AWS::AccountId
      DatabaseName:
        Ref: glueDataCatalogInventoryDatabase96DE1AD3
      TableInput:
        Description:
          Fn::Join:
            - ""
            - - Fn::GetAtt:
                  - glueDataCatalogtoLowercaseTrigger0ABB3AB5
                  - stack_name
              - -grf-inventory-partitioned generated by CDK
        Name:
          Fn::Join:
            - ""
            - - Fn::GetAtt:
                  - glueDataCatalogtoLowercaseTrigger0ABB3AB5
                  - stack_name
              - -grf-inventory-partitioned
        Parameters:
          has_encrypted_data: false
          parquet.compression: SNAPPY
        PartitionKeys:
          - Name: part
            Type: bigint
        StorageDescriptor:
          Columns:
            - Name: archiveid
              Type: string
            - Name: archivedescription
              Type: string
            - Name: creationdate
              Type: string
            - Name: size
              Type: bigint
            - Name: sha256treehash
              Type: string
            - Name: row_num
              Type: bigint
          Compressed: false
          InputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat
          Location:
            Fn::Join:
              - ""
              - - s3://
                - Ref: stagingBucket
                - /partitioned/
          OutputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat
          SerdeInfo:
            SerializationLibrary: org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe
          StoredAsSubDirectories: false
        TableType: EXTERNAL_TABLE
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/glueDataCatalog/PartitionedinventoryTable/Table
  glueDataCatalogAthenaWorkgroup81F608D4:
    Type: AWS::Athena::WorkGroup
    Properties:
      Name:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -glacier-refreezer-sol
      RecursiveDeleteOption: true
      State: ENABLED
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      WorkGroupConfiguration:
        EnforceWorkGroupConfiguration: true
        EngineVersion:
          SelectedEngineVersion: Athena engine version 2
        ResultConfiguration:
          OutputLocation:
            Fn::Join:
              - ""
              - - s3://
                - Ref: stagingBucket
                - /results
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/glueDataCatalog/AthenaWorkgroup
  dynamoDataCatalogStatusTableE9ACB88F:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        - AttributeName: aid
          KeyType: HASH
      AttributeDefinitions:
        - AttributeName: aid
          AttributeType: S
        - AttributeName: pid
          AttributeType: "N"
        - AttributeName: ifn
          AttributeType: "N"
        - AttributeName: fname
          AttributeType: S
      BillingMode: PROVISIONED
      GlobalSecondaryIndexes:
        - IndexName: max-file-index
          KeySchema:
            - AttributeName: pid
              KeyType: HASH
            - AttributeName: ifn
              KeyType: RANGE
          Projection:
            ProjectionType: KEYS_ONLY
          ProvisionedThroughput:
            ReadCapacityUnits: 5
            WriteCapacityUnits: 30
        - IndexName: name-index
          KeySchema:
            - AttributeName: fname
              KeyType: HASH
          Projection:
            ProjectionType: KEYS_ONLY
          ProvisionedThroughput:
            ReadCapacityUnits: 15
            WriteCapacityUnits: 30
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      ProvisionedThroughput:
        ReadCapacityUnits: 25
        WriteCapacityUnits: 30
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES
      TableName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -grf-job-status
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W28
            reason: Transient table - updates must be through deletion/redeployment of the stack only
          - id: W74
            reason: Metadata table - no encryption required
  dynamoDataCatalogStatusTableWriteScalingTargetD6BBCD46:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MaxCapacity: 500
      MinCapacity: 30
      ResourceId:
        Fn::Join:
          - ""
          - - table/
            - Ref: dynamoDataCatalogStatusTableE9ACB88F
      RoleARN:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":iam::"
            - Ref: AWS::AccountId
            - :role/aws-service-role/dynamodb.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_DynamoDBTable
      ScalableDimension: dynamodb:table:WriteCapacityUnits
      ServiceNamespace: dynamodb
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/WriteScaling/Target/Resource
  dynamoDataCatalogStatusTableWriteScalingTargetTrackingD2EC7DF0:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: amazons3glacierrefreezerdynamoDataCatalogStatusTableWriteScalingTargetTrackingB24854FC
      PolicyType: TargetTrackingScaling
      ScalingTargetId:
        Ref: dynamoDataCatalogStatusTableWriteScalingTargetD6BBCD46
      TargetTrackingScalingPolicyConfiguration:
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBWriteCapacityUtilization
        ScaleInCooldown: 60
        ScaleOutCooldown: 10
        TargetValue: 70
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/WriteScaling/Target/Tracking/Resource
  dynamoDataCatalogStatusTableReadScalingTarget544936B3:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MaxCapacity: 500
      MinCapacity: 25
      ResourceId:
        Fn::Join:
          - ""
          - - table/
            - Ref: dynamoDataCatalogStatusTableE9ACB88F
      RoleARN:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":iam::"
            - Ref: AWS::AccountId
            - :role/aws-service-role/dynamodb.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_DynamoDBTable
      ScalableDimension: dynamodb:table:ReadCapacityUnits
      ServiceNamespace: dynamodb
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/ReadScaling/Target/Resource
  dynamoDataCatalogStatusTableReadScalingTargetTrackingEA8022B1:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: amazons3glacierrefreezerdynamoDataCatalogStatusTableReadScalingTargetTracking56BC99D0
      PolicyType: TargetTrackingScaling
      ScalingTargetId:
        Ref: dynamoDataCatalogStatusTableReadScalingTarget544936B3
      TargetTrackingScalingPolicyConfiguration:
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBReadCapacityUtilization
        ScaleInCooldown: 60
        ScaleOutCooldown: 10
        TargetValue: 70
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/ReadScaling/Target/Tracking/Resource
  dynamoDataCatalogStatusTablemaxfileindexReadScalingTarget4766C10B:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MaxCapacity: 500
      MinCapacity: 5
      ResourceId:
        Fn::Join:
          - ""
          - - table/
            - Ref: dynamoDataCatalogStatusTableE9ACB88F
            - /index/max-file-index
      RoleARN:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":iam::"
            - Ref: AWS::AccountId
            - :role/aws-service-role/dynamodb.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_DynamoDBTable
      ScalableDimension: dynamodb:index:ReadCapacityUnits
      ServiceNamespace: dynamodb
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/max-file-indexReadScaling/Target/Resource
  dynamoDataCatalogStatusTablemaxfileindexReadScalingTargetTrackingC5BD9481:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: amazons3glacierrefreezerdynamoDataCatalogStatusTablemaxfileindexReadScalingTargetTracking5E5E1960
      PolicyType: TargetTrackingScaling
      ScalingTargetId:
        Ref: dynamoDataCatalogStatusTablemaxfileindexReadScalingTarget4766C10B
      TargetTrackingScalingPolicyConfiguration:
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBReadCapacityUtilization
        ScaleInCooldown: 60
        ScaleOutCooldown: 10
        TargetValue: 70
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/max-file-indexReadScaling/Target/Tracking/Resource
  dynamoDataCatalogStatusTablemaxfileindexWriteScalingTargetFD4F0C81:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MaxCapacity: 500
      MinCapacity: 30
      ResourceId:
        Fn::Join:
          - ""
          - - table/
            - Ref: dynamoDataCatalogStatusTableE9ACB88F
            - /index/max-file-index
      RoleARN:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":iam::"
            - Ref: AWS::AccountId
            - :role/aws-service-role/dynamodb.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_DynamoDBTable
      ScalableDimension: dynamodb:index:WriteCapacityUnits
      ServiceNamespace: dynamodb
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/max-file-indexWriteScaling/Target/Resource
  dynamoDataCatalogStatusTablemaxfileindexWriteScalingTargetTracking43B81A6C:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: amazons3glacierrefreezerdynamoDataCatalogStatusTablemaxfileindexWriteScalingTargetTracking1B3109FA
      PolicyType: TargetTrackingScaling
      ScalingTargetId:
        Ref: dynamoDataCatalogStatusTablemaxfileindexWriteScalingTargetFD4F0C81
      TargetTrackingScalingPolicyConfiguration:
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBWriteCapacityUtilization
        ScaleInCooldown: 60
        ScaleOutCooldown: 10
        TargetValue: 70
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/max-file-indexWriteScaling/Target/Tracking/Resource
  dynamoDataCatalogStatusTablenameindexReadScalingTarget756A5D45:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MaxCapacity: 500
      MinCapacity: 15
      ResourceId:
        Fn::Join:
          - ""
          - - table/
            - Ref: dynamoDataCatalogStatusTableE9ACB88F
            - /index/name-index
      RoleARN:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":iam::"
            - Ref: AWS::AccountId
            - :role/aws-service-role/dynamodb.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_DynamoDBTable
      ScalableDimension: dynamodb:index:ReadCapacityUnits
      ServiceNamespace: dynamodb
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/name-indexReadScaling/Target/Resource
  dynamoDataCatalogStatusTablenameindexReadScalingTargetTracking0A15E69B:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: amazons3glacierrefreezerdynamoDataCatalogStatusTablenameindexReadScalingTargetTracking9E903362
      PolicyType: TargetTrackingScaling
      ScalingTargetId:
        Ref: dynamoDataCatalogStatusTablenameindexReadScalingTarget756A5D45
      TargetTrackingScalingPolicyConfiguration:
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBReadCapacityUtilization
        ScaleInCooldown: 60
        ScaleOutCooldown: 10
        TargetValue: 70
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/name-indexReadScaling/Target/Tracking/Resource
  dynamoDataCatalogStatusTablenameindexWriteScalingTargetBF74747A:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MaxCapacity: 500
      MinCapacity: 30
      ResourceId:
        Fn::Join:
          - ""
          - - table/
            - Ref: dynamoDataCatalogStatusTableE9ACB88F
            - /index/name-index
      RoleARN:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":iam::"
            - Ref: AWS::AccountId
            - :role/aws-service-role/dynamodb.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_DynamoDBTable
      ScalableDimension: dynamodb:index:WriteCapacityUnits
      ServiceNamespace: dynamodb
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/name-indexWriteScaling/Target/Resource
  dynamoDataCatalogStatusTablenameindexWriteScalingTargetTrackingBF88D57A:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: amazons3glacierrefreezerdynamoDataCatalogStatusTablenameindexWriteScalingTargetTracking7E11FCFA
      PolicyType: TargetTrackingScaling
      ScalingTargetId:
        Ref: dynamoDataCatalogStatusTablenameindexWriteScalingTargetBF74747A
      TargetTrackingScalingPolicyConfiguration:
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBWriteCapacityUtilization
        ScaleInCooldown: 60
        ScaleOutCooldown: 10
        TargetValue: 70
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/dynamoDataCatalog/StatusTable/name-indexWriteScaling/Target/Tracking/Resource
  dynamoDataCatalogMetricsTable174C007B:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        - AttributeName: pk
          KeyType: HASH
      AttributeDefinitions:
        - AttributeName: pk
          AttributeType: S
      BillingMode: PAY_PER_REQUEST
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      TableName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -grf-job-metrics
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W28
            reason: Transient table - updates must be through deletion/redeployment of the stack only
          - id: W74
            reason: Metadata table - no encryption required
  archiveNotifications:
    Type: AWS::SNS::Topic
    Properties:
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W47
            reason: Non sensitive metadata - encryption is not required and cost inefficient
  ArchiveNotificationsPolicyB2E509DE:
    Type: AWS::SNS::TopicPolicy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - sns:GetTopicAttributes
              - sns:SetTopicAttributes
              - sns:AddPermission
              - sns:RemovePermission
              - sns:DeleteTopic
              - sns:Subscribe
              - sns:ListSubscriptionsByTopic
              - sns:Publish
              - sns:Receive
            Condition:
              StringEquals:
                AWS:SourceOwner:
                  Ref: AWS::AccountId
            Effect: Allow
            Principal:
              Service: glacier.amazonaws.com
            Resource:
              Ref: archiveNotifications
            Sid: permitService
          - Action:
              - sns:GetTopicAttributes
              - sns:SetTopicAttributes
              - sns:AddPermission
              - sns:RemovePermission
              - sns:DeleteTopic
              - sns:Subscribe
              - sns:ListSubscriptionsByTopic
              - sns:Publish
            Condition:
              Bool:
                aws:SecureTransport: false
            Effect: Deny
            Principal:
              AWS: "*"
            Resource:
              Ref: archiveNotifications
            Sid: denyInsecureTransport
        Version: "2012-10-17"
      Topics:
        - Ref: archiveNotifications
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/ArchiveNotifications/Policy/Resource
  monitoringCalculateMetricsRoleA76278A7:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/monitoring/CalculateMetricsRole/Resource
  monitoringCalculateMetricsRoleDefaultPolicy22C0E657:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:ConditionCheckItem
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogMetricsTable174C007B
                  - Arn
              - Ref: AWS::NoValue
        Version: "2012-10-17"
      PolicyName: monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      Roles:
        - Ref: monitoringCalculateMetricsRoleA76278A7
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/monitoring/CalculateMetricsRole/DefaultPolicy/Resource
  monitoringCalculateMetricsRolePolicy0C1EF64D:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/
                  - Ref: AWS::StackName
                  - -calculateMetrics:**
            Sid: allowCloudWatchLogs
          - Action:
              - dynamodb:ListStreams
              - dynamodb:DescribeStream
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:ListShards
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - Fn::GetAtt:
                      - dynamoDataCatalogStatusTableE9ACB88F
                      - Arn
                  - /stream/*
        Version: "2012-10-17"
      PolicyName: monitoringCalculateMetricsRolePolicy0C1EF64D
      Roles:
        - Ref: monitoringCalculateMetricsRoleA76278A7
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/monitoring/CalculateMetricsRolePolicy/Resource
  monitoringCalculateMetrics1B70CF5B:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters331c088a2d9dfd0dd55bcb03ce9fa5ea4d33f19cbb65105015f7fc23f17d681dS3BucketD70A56EA
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters331c088a2d9dfd0dd55bcb03ce9fa5ea4d33f19cbb65105015f7fc23f17d681dS3VersionKey0D8F5C64
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters331c088a2d9dfd0dd55bcb03ce9fa5ea4d33f19cbb65105015f7fc23f17d681dS3VersionKey0D8F5C64
      Role:
        Fn::GetAtt:
          - monitoringCalculateMetricsRoleA76278A7
          - Arn
      Environment:
        Variables:
          METRICS_TABLE:
            Ref: dynamoDataCatalogMetricsTable174C007B
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -calculateMetrics
      Handler: index.handler
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      FunctionName:
        Ref: monitoringCalculateMetrics1B70CF5B
      BatchSize: 1000
      EventSourceArn:
        Fn::GetAtt:
          - dynamoDataCatalogStatusTableE9ACB88F
          - StreamArn
      MaximumBatchingWindowInSeconds: 30
      ParallelizationFactor: 1
      StartingPosition: TRIM_HORIZON
    DependsOn:
      - monitoringCalculateMetricsRolePolicy0C1EF64D
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/monitoring/CalculateMetrics/DynamoDBEventSource:amazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D/Resource
  monitoringPostMetricsRole87B61E7B:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/monitoring/PostMetricsRole/Resource
  monitoringPostMetricsRolePolicy596F9F4D:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: dynamodb:Query
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - dynamoDataCatalogMetricsTable174C007B
                - Arn
          - Action: cloudwatch:PutMetricData
            Condition:
              StringEquals:
                cloudwatch:namespace: AmazonS3GlacierReFreezer
            Effect: Allow
            Resource: "*"
            Sid: permitPostMetrics
          - Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/
                  - Ref: AWS::StackName
                  - -postMetrics:**
            Sid: allowCloudWatchLogs
        Version: "2012-10-17"
      PolicyName: monitoringPostMetricsRolePolicy596F9F4D
      Roles:
        - Ref: monitoringPostMetricsRole87B61E7B
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W12
            reason: CloudWatch does not support metric ARNs. Using Namespace condition
  monitoringPostMetrics98F9F947:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters4899ffab842b7e846e31288004bb7705b200f2537b8a02196e43118acb1557f5S3Bucket7F529FEF
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters4899ffab842b7e846e31288004bb7705b200f2537b8a02196e43118acb1557f5S3VersionKey475E2C0A
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters4899ffab842b7e846e31288004bb7705b200f2537b8a02196e43118acb1557f5S3VersionKey475E2C0A
      Role:
        Fn::GetAtt:
          - monitoringPostMetricsRole87B61E7B
          - Arn
      Environment:
        Variables:
          METRICS_TABLE:
            Ref: dynamoDataCatalogMetricsTable174C007B
          STATUS_TABLE:
            Ref: dynamoDataCatalogStatusTableE9ACB88F
          STACK_NAME:
            Ref: AWS::StackName
          ARCHIVE_NOTIFICATIONS_TOPIC:
            Fn::GetAtt:
              - archiveNotifications
              - TopicName
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -postMetrics
      Handler: index.handler
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  monitoringPostMetricSchedule8675C968:
    Type: AWS::Events::Rule
    Properties:
      ScheduleExpression: rate(1 minute)
      State: ENABLED
      Targets:
        - Arn:
            Fn::GetAtt:
              - monitoringPostMetrics98F9F947
              - Arn
          Id: Target0
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/monitoring/PostMetricSchedule/Resource
  monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Fn::GetAtt:
          - monitoringPostMetrics98F9F947
          - Arn
      Principal: events.amazonaws.com
      SourceArn:
        Fn::GetAtt:
          - monitoringPostMetricSchedule8675C968
          - Arn
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/monitoring/PostMetricSchedule/AllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25
  monitoringglacierrefreezerdashboardE7F6D8AE:
    Type: AWS::CloudWatch::Dashboard
    Properties:
      DashboardBody:
        Fn::Join:
          - ""
          - - '{"widgets":[{"type":"metric","width":24,"height":3,"x":0,"y":0,"properties":{"view":"singleValue","title":"Amazon S3 Glacier Re:Freezer Progress Metrics : '
            - Ref: AWS::StackName
            - '","region":"'
            - Ref: AWS::Region
            - '","metrics":[["AmazonS3GlacierReFreezer","ArchiveCountTotal","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Total Archives","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}],["AmazonS3GlacierReFreezer","ArchiveCountRequested","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Requested from Glacier","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}],["AmazonS3GlacierReFreezer","ArchiveCountStaged","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Staged","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}],["AmazonS3GlacierReFreezer","ArchiveCountValidated","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Hashes Validated","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}],["AmazonS3GlacierReFreezer","ArchiveCountCompleted","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Copied to Destination","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}]]}},{"type":"metric","width":24,"height":6,"x":0,"y":3,"properties":{"view":"timeSeries","title":"Timeline","region":"'
            - Ref: AWS::Region
            - '","metrics":[["AmazonS3GlacierReFreezer","ArchiveCountTotal","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Total Archives","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}],["AmazonS3GlacierReFreezer","ArchiveCountRequested","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Requested from Glacier","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}],["AmazonS3GlacierReFreezer","ArchiveCountStaged","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Staged","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}],["AmazonS3GlacierReFreezer","ArchiveCountValidated","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Hashes Validated","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}],["AmazonS3GlacierReFreezer","ArchiveCountCompleted","CloudFormationStack","'
            - Ref: AWS::StackName
            - '",{"label":"Copied to Destination","accountId":"'
            - Ref: AWS::AccountId
            - '","stat":"Maximum"}]],"yAxis":{}}},{"type":"log","width":24,"height":6,"x":0,"y":9,"properties":{"view":"table","title":"Errors","region":"'
            - Ref: AWS::Region
            - "\",\"query\":\"SOURCE '/aws/vendedlogs/states/"
            - Ref: AWS::StackName
            - -stageTwoOrchestrator' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -calculateMetrics' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -calculateTreehash' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -copyChunk' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -copyToDestinationBucket' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -deployGlueJobScript' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -downloadInventory' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -downloadInventoryPart' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -generateUuid' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -postMetrics' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -requestArchives' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -requestInventory' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -sendAnonymousStats' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -splitArchive' | SOURCE '/aws/lambda/
            - Ref: AWS::StackName
            - -toLowercase' | fields @timestamp, @message\n| filter @message like /error/ or @message like /Error/ or @message like /ERROR/\n| filter @message not like /ThrottlingException/\n| filter @message not like /Idle connections will be closed/\n| sort by @timestamp desc"}},{"type":"metric","width":24,"height":6,"x":0,"y":15,"properties":{"view":"timeSeries","title":"Oldest SQS Message","region":"
            - Ref: AWS::Region
            - '","metrics":[["AWS/SQS","ApproximateAgeOfOldestMessage","QueueName","'
            - Ref: AWS::StackName
            - -archive-notification-queue"],["AWS/SQS","ApproximateAgeOfOldestMessage","QueueName","
            - Ref: AWS::StackName
            - -chunk-copy-queue"]],"yAxis":{}}}]}
      DashboardName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -Amazon-S3-Glacier-ReFreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/monitoring/glacier-refreezer-dashboard/Resource
  monitoringstageTwoOrchestratorLogGroup62996996:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/vendedlogs/states/
            - Ref: AWS::StackName
            - -stageTwoOrchestrator
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringcalculateMetricsLogGroup9961A214:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -calculateMetrics
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringcalculateTreehashLogGroup6FC738B3:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -calculateTreehash
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringcopyChunkLogGroup5D04918E:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -copyChunk
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringcopyToDestinationBucketLogGroup4BB91669:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -copyToDestinationBucket
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringdeployGlueJobScriptLogGroupAA50E4DE:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -deployGlueJobScript
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringdownloadInventoryLogGroup2471C2FF:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -downloadInventory
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringdownloadInventoryPartLogGroupD9E69690:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -downloadInventoryPart
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringgenerateUuidLogGroup18A074CF:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -generateUuid
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringpostMetricsLogGroup670566A8:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -postMetrics
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringrequestArchivesLogGroup70D7C9C5:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -requestArchives
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringrequestInventoryLogGroupB7C9607D:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -requestInventory
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringsendAnonymousStatsLogGroup0C9968BB:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -sendAnonymousStats
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringsplitArchiveLogGroup026DE41D:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -splitArchive
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  monitoringtoLowercaseLogGroupC05CBA29:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Join:
          - ""
          - - /aws/lambda/
            - Ref: AWS::StackName
            - -toLowercase
      RetentionInDays: 90
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W84
            reason: The solution is a temporary, one off deployment. No sensitive or PII data logged.
    DeletionPolicy: Retain
  statisticsGenerateUuidServiceRole2FEB4F4B:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/statistics/GenerateUuid/ServiceRole/Resource
  statisticsGenerateUuidF0CAA49C:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameterse9001c25dca9384e95c94fd2f99449d6f3e1bce271d695f21b2e8f96e6501bb4S3Bucket39BE5760
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameterse9001c25dca9384e95c94fd2f99449d6f3e1bce271d695f21b2e8f96e6501bb4S3VersionKeyE42DD05A
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameterse9001c25dca9384e95c94fd2f99449d6f3e1bce271d695f21b2e8f96e6501bb4S3VersionKeyE42DD05A
      Role:
        Fn::GetAtt:
          - statisticsGenerateUuidServiceRole2FEB4F4B
          - Arn
      Description: This function generates UUID for each deployment
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -generateUuid
      Handler: index.handler
      MemorySize: 256
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 20
    DependsOn:
      - statisticsGenerateUuidServiceRole2FEB4F4B
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  statisticsGenerateUuidTriggerAFF2A046:
    Type: AWS::CloudFormation::CustomResource
    Properties:
      ServiceToken:
        Fn::GetAtt:
          - statisticsGenerateUuidF0CAA49C
          - Arn
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/statistics/GenerateUuidTrigger/Default
  statisticsSendAnonymousStatsServiceRoleFEE7F44D:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/statistics/SendAnonymousStats/ServiceRole/Resource
  statisticsSendAnonymousStatsD2E34707:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersfcfb7da9b88c8192ed2b6f4536350df608c6358e092203187aebb51dbb2d8816S3Bucket09E466E6
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersfcfb7da9b88c8192ed2b6f4536350df608c6358e092203187aebb51dbb2d8816S3VersionKeyE09AE473
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersfcfb7da9b88c8192ed2b6f4536350df608c6358e092203187aebb51dbb2d8816S3VersionKeyE09AE473
      Role:
        Fn::GetAtt:
          - statisticsSendAnonymousStatsServiceRoleFEE7F44D
          - Arn
      Description: This function sends anonymous statistics to the AWS Solutions Builders team
      Environment:
        Variables:
          UUID:
            Fn::GetAtt:
              - statisticsGenerateUuidTriggerAFF2A046
              - UUID
          REGION:
            Ref: AWS::Region
          SOLUTION_ID: SO0140
          VERSION: "%%VERSION%%"
          STORAGE_CLASS:
            Ref: DestinationStorageClass
          RETRIEVAL_TIER:
            Ref: GlacierRetrievalTier
          SEND_ANONYMOUS_STATISTICS:
            Fn::FindInMap:
              - AnonymousStatisticsMap
              - SendAnonymousStatistics
              - Data
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -sendAnonymousStats
      Handler: index.handler
      MemorySize: 128
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 300
    DependsOn:
      - statisticsSendAnonymousStatsServiceRoleFEE7F44D
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageThreetreehashcalcqueue77403987:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      QueueName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -treehash-calc-queue
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      VisibilityTimeout: 905
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W48
            reason: Non sensitive metadata - encryption is not required and cost inefficient
  stageThreetreehashcalcqueuePolicyAC24B291:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Statement:
          - Action: sqs:*
            Condition:
              Bool:
                aws:SecureTransport: false
            Effect: Deny
            Principal:
              AWS: "*"
            Resource:
              Fn::GetAtt:
                - stageThreetreehashcalcqueue77403987
                - Arn
            Sid: denyInsecureTransport
        Version: "2012-10-17"
      Queues:
        - Ref: stageThreetreehashcalcqueue77403987
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageThree/treehash-calc-queue/Policy/Resource
  stageThreearchivenotificationqueue402FED49:
    Type: AWS::SQS::Queue
    Properties:
      QueueName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -archive-notification-queue
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      VisibilityTimeout: 905
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W48
            reason: Non sensitive metadata - encryption is not required and cost inefficient
  stageThreearchivenotificationqueuePolicy277C3061:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Statement:
          - Action: sqs:*
            Condition:
              Bool:
                aws:SecureTransport: false
            Effect: Deny
            Principal:
              AWS: "*"
            Resource:
              Fn::GetAtt:
                - stageThreearchivenotificationqueue402FED49
                - Arn
            Sid: denyInsecureTransport
          - Action: sqs:SendMessage
            Condition:
              ArnEquals:
                aws:SourceArn:
                  Ref: archiveNotifications
            Effect: Allow
            Principal:
              Service: sns.amazonaws.com
            Resource:
              Fn::GetAtt:
                - stageThreearchivenotificationqueue402FED49
                - Arn
        Version: "2012-10-17"
      Queues:
        - Ref: stageThreearchivenotificationqueue402FED49
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageThree/archive-notification-queue/Policy/Resource
  stageThreearchivenotificationqueueamazons3glacierrefreezerArchiveNotifications862D893DDD383B3A:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: sqs
      TopicArn:
        Ref: archiveNotifications
      Endpoint:
        Fn::GetAtt:
          - stageThreearchivenotificationqueue402FED49
          - Arn
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageThree/archive-notification-queue/amazons3glacierrefreezerArchiveNotifications862D893D/Resource
  stageThreechunkcopyqueue6E6E5A95:
    Type: AWS::SQS::Queue
    Properties:
      QueueName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -chunk-copy-queue
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      VisibilityTimeout: 905
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W48
            reason: Non sensitive metadata - encryption is not required and cost inefficient
  stageThreechunkcopyqueuePolicy1B170AFE:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Statement:
          - Action: sqs:*
            Condition:
              Bool:
                aws:SecureTransport: false
            Effect: Deny
            Principal:
              AWS: "*"
            Resource:
              Fn::GetAtt:
                - stageThreechunkcopyqueue6E6E5A95
                - Arn
            Sid: denyInsecureTransport
        Version: "2012-10-17"
      Queues:
        - Ref: stageThreechunkcopyqueue6E6E5A95
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageThree/chunk-copy-queue/Policy/Resource
  stageThreesplitArchiveRole7D1991B8:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageThree/splitArchiveRole/Resource
  stageThreesplitArchiveRoleDefaultPolicyCA0A260E:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/
                  - Ref: AWS::StackName
                  - -splitArchive:**
            Sid: allowCloudWatchLogs
          - Action:
              - glacier:GetJobOutput
              - glacier:InitiateJob
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:glacier:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :vaults/
                  - Ref: SourceVault
            Sid: allowGlacierAccess
          - Action:
              - sqs:ReceiveMessage
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageThreearchivenotificationqueue402FED49
                - Arn
            Sid: allowSqsSubscribeAccess
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:ConditionCheckItem
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogStatusTableE9ACB88F
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - dynamoDataCatalogStatusTableE9ACB88F
                        - Arn
                    - /index/*
          - Action:
              - sqs:SendMessage
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageThreechunkcopyqueue6E6E5A95
                - Arn
          - Action:
              - sqs:SendMessage
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageThreetreehashcalcqueue77403987
                - Arn
        Version: "2012-10-17"
      PolicyName: stageThreesplitArchiveRoleDefaultPolicyCA0A260E
      Roles:
        - Ref: stageThreesplitArchiveRole7D1991B8
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W76
            reason: Policy is auto-generated by CDK
  stageThreeSplitArchiveCEC9C9A3:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters5943e7783ffa7ea94498341d0344ec8d7fcd828674a604b3aabc6a790fae2ffaS3Bucket134F594A
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters5943e7783ffa7ea94498341d0344ec8d7fcd828674a604b3aabc6a790fae2ffaS3VersionKey372922E5
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters5943e7783ffa7ea94498341d0344ec8d7fcd828674a604b3aabc6a790fae2ffaS3VersionKey372922E5
      Role:
        Fn::GetAtt:
          - stageThreesplitArchiveRole7D1991B8
          - Arn
      Environment:
        Variables:
          STAGING_BUCKET:
            Ref: stagingBucket
          STAGING_BUCKET_PREFIX: stagingdata
          STATUS_TABLE:
            Ref: dynamoDataCatalogStatusTableE9ACB88F
          SQS_CHUNK:
            Fn::GetAtt:
              - stageThreechunkcopyqueue6E6E5A95
              - QueueName
          SQS_HASH:
            Fn::GetAtt:
              - stageThreetreehashcalcqueue77403987
              - QueueName
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -splitArchive
      Handler: index.handler
      MemorySize: 256
      ReservedConcurrentExecutions: 45
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 900
    DependsOn:
      - stageThreesplitArchiveRoleDefaultPolicyCA0A260E
      - stageThreesplitArchiveRole7D1991B8
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageThreeSplitArchiveSqsEventSourceamazons3glacierrefreezerstageThreearchivenotificationqueue413D53D18ECE746C:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      FunctionName:
        Ref: stageThreeSplitArchiveCEC9C9A3
      BatchSize: 1
      EventSourceArn:
        Fn::GetAtt:
          - stageThreearchivenotificationqueue402FED49
          - Arn
    DependsOn:
      - stageThreesplitArchiveRoleDefaultPolicyCA0A260E
      - stageThreesplitArchiveRole7D1991B8
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageThree/SplitArchive/SqsEventSource:amazons3glacierrefreezerstageThreearchivenotificationqueue413D53D1/Resource
  stageThreeCopyChunkRole24158C8C:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageThree/CopyChunkRole/Resource
  stageThreeCopyChunkRoleDefaultPolicyA5C59C91:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/
                  - Ref: AWS::StackName
                  - -copyChunk:**
            Sid: allowCloudWatchLogs
          - Action:
              - glacier:GetJobOutput
              - glacier:InitiateJob
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:glacier:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :vaults/
                  - Ref: SourceVault
            Sid: allowGlacierAccess
          - Action:
              - sqs:ReceiveMessage
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageThreechunkcopyqueue6E6E5A95
                - Arn
            Sid: allowSqsSubscribeAccess
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:ConditionCheckItem
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogStatusTableE9ACB88F
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - dynamoDataCatalogStatusTableE9ACB88F
                        - Arn
                    - /index/*
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:ConditionCheckItem
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogMetricsTable174C007B
                  - Arn
              - Ref: AWS::NoValue
          - Action:
              - sqs:SendMessage
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageThreetreehashcalcqueue77403987
                - Arn
        Version: "2012-10-17"
      PolicyName: stageThreeCopyChunkRoleDefaultPolicyA5C59C91
      Roles:
        - Ref: stageThreeCopyChunkRole24158C8C
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W76
            reason: Policy is auto-generated by CDK
  stageThreeCopyChunk9DFA72B0:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersd5518d4a240ac57bd92785a71f27eda7d116d46ed1bc6df6805636a9ce8ae86eS3Bucket2468ACCF
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersd5518d4a240ac57bd92785a71f27eda7d116d46ed1bc6df6805636a9ce8ae86eS3VersionKey72DB0BC0
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersd5518d4a240ac57bd92785a71f27eda7d116d46ed1bc6df6805636a9ce8ae86eS3VersionKey72DB0BC0
      Role:
        Fn::GetAtt:
          - stageThreeCopyChunkRole24158C8C
          - Arn
      Environment:
        Variables:
          VAULT:
            Ref: SourceVault
          STAGING_BUCKET:
            Ref: stagingBucket
          STAGING_BUCKET_PREFIX: stagingdata
          STATUS_TABLE:
            Ref: dynamoDataCatalogStatusTableE9ACB88F
          METRIC_TABLE:
            Ref: dynamoDataCatalogMetricsTable174C007B
          SQS_HASH:
            Fn::GetAtt:
              - stageThreetreehashcalcqueue77403987
              - QueueName
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -copyChunk
      Handler: index.handler
      MemorySize: 1024
      ReservedConcurrentExecutions: 35
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 900
    DependsOn:
      - stageThreeCopyChunkRoleDefaultPolicyA5C59C91
      - stageThreeCopyChunkRole24158C8C
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageThreeCopyChunkSqsEventSourceamazons3glacierrefreezerstageThreechunkcopyqueue61F100E75E81AE88:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      FunctionName:
        Ref: stageThreeCopyChunk9DFA72B0
      BatchSize: 1
      EventSourceArn:
        Fn::GetAtt:
          - stageThreechunkcopyqueue6E6E5A95
          - Arn
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageThree/CopyChunk/SqsEventSource:amazons3glacierrefreezerstageThreechunkcopyqueue61F100E7/Resource
  stageTwoDeployGlueJobScriptServiceRoleE1F020B7:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageTwo/DeployGlueJobScript/ServiceRole/Resource
  stageTwoDeployGlueJobScriptServiceRoleDefaultPolicyD6DC7335:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
        Version: "2012-10-17"
      PolicyName: stageTwoDeployGlueJobScriptServiceRoleDefaultPolicyD6DC7335
      Roles:
        - Ref: stageTwoDeployGlueJobScriptServiceRoleE1F020B7
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageTwo/DeployGlueJobScript/ServiceRole/DefaultPolicy/Resource
  stageTwoDeployGlueJobScriptD9AB96C6:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters29bd45266b1531044571f1ed671bc02b1a3a5b2ebd0c7c61e5d372a2ea938c1cS3Bucket7EFE1A6E
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters29bd45266b1531044571f1ed671bc02b1a3a5b2ebd0c7c61e5d372a2ea938c1cS3VersionKey05CF7B57
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters29bd45266b1531044571f1ed671bc02b1a3a5b2ebd0c7c61e5d372a2ea938c1cS3VersionKey05CF7B57
      Role:
        Fn::GetAtt:
          - stageTwoDeployGlueJobScriptServiceRoleE1F020B7
          - Arn
      Environment:
        Variables:
          STAGING_BUCKET:
            Ref: stagingBucket
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -deployGlueJobScript
      Handler: index.handler
      MemorySize: 128
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 60
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
      - stageTwoDeployGlueJobScriptServiceRoleDefaultPolicyD6DC7335
      - stageTwoDeployGlueJobScriptServiceRoleE1F020B7
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageTwodeployGlueJobScriptTriggerBF203D6E:
    Type: AWS::CloudFormation::CustomResource
    Properties:
      ServiceToken:
        Fn::GetAtt:
          - stageTwoDeployGlueJobScriptD9AB96C6
          - Arn
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageTwo/deployGlueJobScriptTrigger/Default
  stageTwoRequestArchiveRole00DF0F46:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageTwo/RequestArchiveRole/Resource
  stageTwoRequestArchiveRoleDefaultPolicy2CD86D07:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:ConditionCheckItem
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogStatusTableE9ACB88F
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - dynamoDataCatalogStatusTableE9ACB88F
                        - Arn
                    - /index/*
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:ConditionCheckItem
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogMetricsTable174C007B
                  - Arn
              - Ref: AWS::NoValue
          - Action:
              - athena:StartQueryExecution
              - athena:GetQueryResults
              - athena:GetWorkGroup
              - athena:CancelQueryExecution
              - athena:StopQueryExecution
              - athena:GetQueryExecution
              - glue:GetTable
              - glue:UpdateTable
              - glue:GetPartitions
              - glue:BatchCreatePartition
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :catalog
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :database/
                    - Ref: glueDataCatalogInventoryDatabase96DE1AD3
              - Fn::Join:
                  - ""
                  - - "arn:aws:athena:*:"
                    - Ref: AWS::AccountId
                    - :workgroup/
                    - Ref: AWS::StackName
                    - -glacier-refreezer-sol
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :table/
                    - Ref: glueDataCatalogInventoryDatabase96DE1AD3
                    - /
                    - Ref: glueDataCatalogPartitionedinventoryTable94032B41
            Sid: allowStagingAccess
          - Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/
                  - Ref: AWS::StackName
                  - -requestArchives:**
            Sid: allowCloudWatchLogs
          - Action:
              - glacier:GetJobOutput
              - glacier:InitiateJob
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:glacier:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :vaults/
                  - Ref: SourceVault
            Sid: allowGlacierAccess
        Version: "2012-10-17"
      PolicyName: stageTwoRequestArchiveRoleDefaultPolicy2CD86D07
      Roles:
        - Ref: stageTwoRequestArchiveRole00DF0F46
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W76
            reason: Policy is auto-generated by CDK
  stageTwoRequestArchives06ED0831:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersd7197c0a14f8c35f70a8300917c5395c43168d073d1b479d71621a4353ae490cS3Bucket705EC075
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersd7197c0a14f8c35f70a8300917c5395c43168d073d1b479d71621a4353ae490cS3VersionKey3A214D81
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersd7197c0a14f8c35f70a8300917c5395c43168d073d1b479d71621a4353ae490cS3VersionKey3A214D81
      Role:
        Fn::GetAtt:
          - stageTwoRequestArchiveRole00DF0F46
          - Arn
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: "1"
          SNS_TOPIC:
            Ref: archiveNotifications
          STAGING_BUCKET:
            Ref: stagingBucket
          TIER:
            Ref: GlacierRetrievalTier
          STATUS_TABLE:
            Ref: dynamoDataCatalogStatusTableE9ACB88F
          METRICS_TABLE:
            Ref: dynamoDataCatalogMetricsTable174C007B
          VAULT:
            Ref: SourceVault
          DATABASE:
            Ref: glueDataCatalogInventoryDatabase96DE1AD3
          ATHENA_WORKGROUP:
            Fn::Join:
              - ""
              - - Ref: AWS::StackName
                - -glacier-refreezer-sol
          PARTITIONED_INVENTORY_TABLE:
            Ref: glueDataCatalogPartitionedinventoryTable94032B41
          DQL: "65970697666560"
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -requestArchives
      Handler: index.handler
      MemorySize: 1024
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 900
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
      - stageTwoRequestArchiveRoleDefaultPolicy2CD86D07
      - stageTwoRequestArchiveRole00DF0F46
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageTwoGlueJobRoleDEC61075:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: glue.amazonaws.com
        Version: "2012-10-17"
      RoleName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -glue-job-role
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W28
            reason: Transient, one off solution - updates must be through deletion/redeployment of the stack only
  stageTwoGlueJobRoleDefaultPolicy6890375C:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action:
              - athena:StartQueryExecution
              - athena:GetQueryResults
              - athena:GetWorkGroup
              - athena:CancelQueryExecution
              - athena:StopQueryExecution
              - athena:GetQueryExecution
              - glue:GetTable
              - glue:UpdateTable
              - glue:GetPartitions
              - glue:BatchCreatePartition
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :catalog
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :database/
                    - Ref: glueDataCatalogInventoryDatabase96DE1AD3
              - Fn::Join:
                  - ""
                  - - "arn:aws:athena:*:"
                    - Ref: AWS::AccountId
                    - :workgroup/
                    - Ref: AWS::StackName
                    - -glacier-refreezer-sol
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :table/
                    - Ref: glueDataCatalogInventoryDatabase96DE1AD3
                    - /
                    - Ref: glueDataCatalogInventoryTable05E5F37F
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :table/
                    - Ref: glueDataCatalogInventoryDatabase96DE1AD3
                    - /
                    - Ref: glueDataCatalogFilelistTable2224351B
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :table/
                    - Ref: glueDataCatalogInventoryDatabase96DE1AD3
                    - /
                    - Ref: glueDataCatalogPartitionedinventoryTable94032B41
            Sid: allowStagingAccess
          - Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws-glue/jobs/*:**
            Sid: allowLogging
        Version: "2012-10-17"
      PolicyName: stageTwoGlueJobRoleDefaultPolicy6890375C
      Roles:
        - Ref: stageTwoGlueJobRoleDEC61075
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageTwo/GlueJobRole/DefaultPolicy/Resource
  stageTwoGlueRepartitionJob3EB94529:
    Type: AWS::Glue::Job
    Properties:
      Command:
        Name: glueetl
        ScriptLocation:
          Fn::Join:
            - ""
            - - s3://
              - Ref: stagingBucket
              - /glue/partition-inventory.py
      Role:
        Fn::GetAtt:
          - stageTwoGlueJobRoleDEC61075
          - Arn
      DefaultArguments:
        --job-bookmark-option: job-bookmark-disable
        --enable-continuous-cloudwatch-log: "true"
        --enable-continuous-log-filter: "false"
        --DATABASE:
          Ref: glueDataCatalogInventoryDatabase96DE1AD3
        --INVENTORY_TABLE:
          Ref: glueDataCatalogInventoryTable05E5F37F
        --FILENAME_TABLE:
          Ref: glueDataCatalogFilelistTable2224351B
        --OUTPUT_TABLE:
          Ref: glueDataCatalogPartitionedinventoryTable94032B41
        --STAGING_BUCKET:
          Ref: stagingBucket
        --DQL: 65970697666560
      Description: To repartition the inventory table
      ExecutionProperty:
        MaxConcurrentRuns: 1
      GlueVersion: "2.0"
      MaxCapacity: 5
      MaxRetries: 0
      Name:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -glacier-refreezer
      Tags:
        solution: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageTwo/GlueRepartitionJob
  stageTwoStepfunctionsOrchestratorRole1165D332:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - states.
                    - Ref: AWS::Region
                    - .amazonaws.com
        Version: "2012-10-17"
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageTwo/Stepfunctions/OrchestratorRole/Resource
  stageTwoStepfunctionsOrchestratorRoleDefaultPolicy6576A802:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageTwoRequestArchives06ED0831
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - statisticsSendAnonymousStatsD2E34707
                - Arn
          - Action:
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogMetricsTable174C007B
                  - Arn
              - Ref: AWS::NoValue
          - Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:"
                  - Ref: AWS::Partition
                  - ":logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/vendedlogs/states/
                  - Ref: AWS::StackName
                  - -stageTwoOrchestrator:*
          - Action:
              - athena:StartQueryExecution
              - athena:GetQueryResults
              - athena:GetWorkGroup
              - athena:CancelQueryExecution
              - athena:StopQueryExecution
              - athena:GetQueryExecution
              - glue:GetTable
              - glue:UpdateTable
              - glue:GetPartitions
              - glue:BatchCreatePartition
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :catalog
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :database/
                    - Ref: glueDataCatalogInventoryDatabase96DE1AD3
              - Fn::Join:
                  - ""
                  - - "arn:aws:athena:*:"
                    - Ref: AWS::AccountId
                    - :workgroup/
                    - Ref: AWS::StackName
                    - -glacier-refreezer-sol
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :table/
                    - Ref: glueDataCatalogInventoryDatabase96DE1AD3
                    - /
                    - Ref: glueDataCatalogInventoryTable05E5F37F
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":glue:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :table/
                    - Ref: glueDataCatalogInventoryDatabase96DE1AD3
                    - /
                    - Ref: glueDataCatalogPartitionedinventoryTable94032B41
            Sid: allowStagingAccess
          - Action:
              - glue:StartJobRun
              - glue:GetJobRun
              - glue:GetJobRuns
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:glue:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :job/
                  - Ref: AWS::StackName
                  - -glacier-refreezer
            Sid: allowGlueJobRun
          - Action:
              - logs:CreateLogDelivery
              - logs:GetLogDelivery
              - logs:UpdateLogDelivery
              - logs:DeleteLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:DescribeResourcePolicies
              - logs:DescribeLogGroups
            Effect: Allow
            Resource: "*"
            Sid: allowLogDelivery
        Version: "2012-10-17"
      PolicyName: stageTwoStepfunctionsOrchestratorRoleDefaultPolicy6576A802
      Roles:
        - Ref: stageTwoStepfunctionsOrchestratorRole1165D332
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageTwo/Stepfunctions/OrchestratorRole/DefaultPolicy/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W12
            reason: "[*] Access granted as per documentation: https://docs.aws.amazon.com/step-functions/latest/dg/cw-logs.html"
          - id: W76
            reason: SPCM complexity greater then 25 is appropriate for the logic implemented
  stageTwoOrchestrator:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - stageTwoStepfunctionsOrchestratorRole1165D332
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"Parallel Queries","States":{"Parallel Queries":{"Type":"Parallel","Next":"Check Inventory State","Branches":[{"StartAt":"Start Inventory Query","States":{"Start Inventory Query":{"Next":"Get Inventory Results","Type":"Task","OutputPath":"$.QueryExecution","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::athena:startQueryExecution.sync","Parameters":{"QueryString":"SELECT COUNT(1) AS archiveCount, COALESCE(SUM(size),0) AS vaultSize FROM \"
            - Ref: glueDataCatalogInventoryTable05E5F37F
            - \";","QueryExecutionContext":{"Database":"
            - Ref: glueDataCatalogInventoryDatabase96DE1AD3
            - '"},"ResultConfiguration":{},"WorkGroup":"'
            - Ref: AWS::StackName
            - '-glacier-refreezer-sol"}},"Get Inventory Results":{"End":true,"Type":"Task","OutputPath":"$.ResultSet.Rows[1]","Resource":"arn:'
            - Ref: AWS::Partition
            - ':states:::athena:getQueryResults","Parameters":{"QueryExecutionId.$":"$.QueryExecutionId"}}}},{"StartAt":"Start Partitioned Query","States":{"Start Partitioned Query":{"Next":"Get Partitioned Results","Type":"Task","OutputPath":"$.QueryExecution","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::athena:startQueryExecution.sync","Parameters":{"QueryString":"SELECT COUNT(1) AS archiveCount FROM \"
            - Ref: glueDataCatalogPartitionedinventoryTable94032B41
            - \";","QueryExecutionContext":{"Database":"
            - Ref: glueDataCatalogInventoryDatabase96DE1AD3
            - '"},"ResultConfiguration":{},"WorkGroup":"'
            - Ref: AWS::StackName
            - '-glacier-refreezer-sol"}},"Get Partitioned Results":{"End":true,"Type":"Task","OutputPath":"$.ResultSet.Rows[1]","Resource":"arn:'
            - Ref: AWS::Partition
            - ':states:::athena:getQueryResults","Parameters":{"QueryExecutionId.$":"$.QueryExecutionId"}}}}],"ResultSelector":{"inventoryTable":{"archiveCount.$":"$[0].Data[0].VarCharValue","vaultSize.$":"$[0].Data[1].VarCharValue"},"partitionedTable":{"archiveCount.$":"$[1].Data[0].VarCharValue"}}},"Check Inventory State":{"Type":"Choice","Choices":[{"Variable":"$.inventoryTable.archiveCount","StringEquals":"0","Next":"FAIL: Inventory Empty"},{"And":[{"Not":{"Variable":"$.partitionedTable.archiveCount","StringEquals":"0"}},{"Not":{"Variable":"$.inventoryTable.archiveCount","StringEqualsPath":"$.partitionedTable.archiveCount"}}],"Next":"FAIL: Inventory-Partitioned Mismatch"}],"Default":"Partitioning Required ?"},"Partitioning Required ?":{"Type":"Choice","Choices":[{"Variable":"$.inventoryTable.archiveCount","StringEqualsPath":"$.partitionedTable.archiveCount","Next":"Start Max Partition Query"}],"Default":"Parallel Partitioning and Stats update"},"Parallel Partitioning and Stats update":{"Type":"Parallel","Next":"Start Max Partition Query","Branches":[{"StartAt":"Run Glue Partitioning","States":{"Run Glue Partitioning":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::glue:startJobRun.sync","Parameters":{"JobName":"
            - Ref: AWS::StackName
            - '-glacier-refreezer","Arguments":{"--ARCHIVE_COUNT.$":"$.inventoryTable.archiveCount","--VAULT_SIZE.$":"$.inventoryTable.vaultSize"}}}}},{"StartAt":"Update Count Metric","States":{"Update Count Metric":{"Next":"Update Size Metric","Type":"Task","ResultPath":"$.putItemResult","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::dynamodb:putItem","Parameters":{"Item":{"pk":{"S":"count"},"total":{"N.$":"$.inventoryTable.archiveCount"}},"TableName":"
            - Ref: dynamoDataCatalogMetricsTable174C007B
            - '"}},"Update Size Metric":{"Next":"Send Anonymous Statistics","Type":"Task","ResultPath":"$.putItemResult","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::dynamodb:putItem","Parameters":{"Item":{"pk":{"S":"volume"},"total":{"N.$":"$.inventoryTable.vaultSize"}},"TableName":"
            - Ref: dynamoDataCatalogMetricsTable174C007B
            - '"}},"Send Anonymous Statistics":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2},{"ErrorEquals":["States.ALL"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Catch":[{"ErrorEquals":["States.ALL"],"Next":"Ignore SendStats Errors"}],"Type":"Task","InputPath":"$.inventoryTable","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - statisticsSendAnonymousStatsD2E34707
                - Arn
            - '","Payload.$":"$"}},"Ignore SendStats Errors":{"Type":"Pass","End":true}}}]},"Start Max Partition Query":{"Next":"Get Max Partition Result","Type":"Task","OutputPath":"$.QueryExecution","Resource":"arn:'
            - Ref: AWS::Partition
            - ":states:::athena:startQueryExecution.sync\",\"Parameters\":{\"QueryString\":\"SELECT '{ \\\"nextPartition\\\": 0, \\\"maxPartition\\\" :' || CAST(MAX(part) AS VARCHAR) || '}'FROM \\\""
            - Ref: glueDataCatalogPartitionedinventoryTable94032B41
            - \";","QueryExecutionContext":{"Database":"
            - Ref: glueDataCatalogInventoryDatabase96DE1AD3
            - '"},"ResultConfiguration":{},"WorkGroup":"'
            - Ref: AWS::StackName
            - '-glacier-refreezer-sol"}},"Get Max Partition Result":{"Next":"Request Archives Retrieval","Type":"Task","OutputPath":"$.result","ResultSelector":{"result.$":"States.StringToJson($.ResultSet.Rows[1].Data[0].VarCharValue)"},"Resource":"arn:'
            - Ref: AWS::Partition
            - ':states:::athena:getQueryResults","Parameters":{"QueryExecutionId.$":"$.QueryExecutionId"}},"Request Archives Retrieval":{"Next":"Is Complete?","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2},{"ErrorEquals":["States.ALL"],"IntervalSeconds":15,"MaxAttempts":10000,"BackoffRate":1}],"Type":"Task","OutputPath":"$.Payload","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - stageTwoRequestArchives06ED0831
                - Arn
            - '","Payload.$":"$"}},"Wait X Seconds":{"Type":"Wait","SecondsPath":"$.timeout","Next":"Request Archives Retrieval"},"Is Complete?":{"Type":"Choice","Choices":[{"Variable":"$.nextPartition","NumericGreaterThanPath":"$.maxPartition","Next":"Success"}],"Default":"Wait X Seconds"},"Success":{"Type":"Succeed"},"FAIL: Inventory Empty":{"Type":"Fail","Error":"Vault Inventory Table is empty. Has it been downloaded?"},"FAIL: Inventory-Partitioned Mismatch":{"Type":"Fail","Error":"Inventory and Partitioned table counts are greater than 0 and do not match. Cannot proceed."}}}'
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn:
                Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":logs:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :log-group:/aws/vendedlogs/states/
                    - Ref: AWS::StackName
                    - -stageTwoOrchestrator:*
        Level: ALL
      StateMachineName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -stageTwoOrchestrator
      StateMachineType: STANDARD
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
      - stageTwoStepfunctionsOrchestratorRoleDefaultPolicy6576A802
      - stageTwoStepfunctionsOrchestratorRole1165D332
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageTwo/Stepfunctions/StageTwoOrchestrator/Resource
  inventoryNotification:
    Type: AWS::SNS::Topic
    Properties:
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W47
            reason: Non sensitive metadata - encryption is not required and cost inefficient
  stageOneInventoryNotificationPolicy66D24C4B:
    Type: AWS::SNS::TopicPolicy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - sns:GetTopicAttributes
              - sns:SetTopicAttributes
              - sns:AddPermission
              - sns:RemovePermission
              - sns:DeleteTopic
              - sns:Subscribe
              - sns:ListSubscriptionsByTopic
              - sns:Publish
            Condition:
              Bool:
                aws:SecureTransport: false
            Effect: Deny
            Principal:
              AWS: "*"
            Resource:
              Ref: inventoryNotification
            Sid: denyInsecureTransport
          - Action:
              - sns:GetTopicAttributes
              - sns:SetTopicAttributes
              - sns:AddPermission
              - sns:RemovePermission
              - sns:DeleteTopic
              - sns:Subscribe
              - sns:ListSubscriptionsByTopic
              - sns:Publish
              - sns:Receive
            Condition:
              StringEquals:
                AWS:SourceOwner:
                  Ref: AWS::AccountId
            Effect: Allow
            Principal:
              Service: glacier.amazonaws.com
            Resource:
              Ref: inventoryNotification
            Sid: permitService
        Version: "2012-10-17"
      Topics:
        - Ref: inventoryNotification
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/InventoryNotification/Policy/Resource
  stageOnerequestInventoryServiceRole5904E2D3:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/requestInventory/ServiceRole/Resource
  stageOnerequestInventoryServiceRoleDefaultPolicyE7A49E61:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":s3:::"
                    - Ref: DestinationBucket
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":s3:::"
                    - Ref: DestinationBucket
                    - /*
          - Action:
              - s3:ListBucket
              - s3:ListBucketMultipartUploads
              - s3:GetBucketLocation
              - s3:GetObject
              - s3:GetObjectAcl
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:s3:::"
                  - Ref: FilelistS3Location
            Sid: allowS3Access
          - Action:
              - glacier:GetJobOutput
              - glacier:InitiateJob
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:glacier:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :vaults/
                  - Ref: SourceVault
            Sid: allowGlacierAccess
        Version: "2012-10-17"
      PolicyName: stageOnerequestInventoryServiceRoleDefaultPolicyE7A49E61
      Roles:
        - Ref: stageOnerequestInventoryServiceRole5904E2D3
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/requestInventory/ServiceRole/DefaultPolicy/Resource
  stageOnerequestInventory8924DF79:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersf7074a15c3231287294e5f7e00897111bf61f61b36fca946bb54306a54ba581dS3Bucket31F49CAC
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7074a15c3231287294e5f7e00897111bf61f61b36fca946bb54306a54ba581dS3VersionKey95C23E32
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7074a15c3231287294e5f7e00897111bf61f61b36fca946bb54306a54ba581dS3VersionKey95C23E32
      Role:
        Fn::GetAtt:
          - stageOnerequestInventoryServiceRole5904E2D3
          - Arn
      Environment:
        Variables:
          SOURCE_VAULT:
            Ref: SourceVault
          STAGING_BUCKET:
            Ref: stagingBucket
          STAGING_LIST_PREFIX: filelist
          FILELIST_LOCATION:
            Ref: FilelistS3Location
          DESTINATION_BUCKET:
            Ref: DestinationBucket
          SNS_TOPIC_ARN:
            Ref: inventoryNotification
          CLOUDTRAIL_EXPORT_CONF:
            Ref: CloudTrailExportConfirmation
          SNS_VAULT_CONF:
            Ref: SNSTopicForVaultConfirmation
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -requestInventory
      Handler: index.handler
      MemorySize: 256
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 900
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
      - stageOnerequestInventoryServiceRoleDefaultPolicyE7A49E61
      - stageOnerequestInventoryServiceRole5904E2D3
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageOnerequestInventoryTriggerB9B55962:
    Type: AWS::CloudFormation::CustomResource
    Properties:
      ServiceToken:
        Fn::GetAtt:
          - stageOnerequestInventory8924DF79
          - Arn
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/requestInventoryTrigger/Default
  stageOnedownloadInventoryPartServiceRole73BC3A9B:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/downloadInventoryPart/ServiceRole/Resource
  stageOnedownloadInventoryPartServiceRoleDefaultPolicy59CA83BD:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action:
              - glacier:GetJobOutput
              - glacier:InitiateJob
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:glacier:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :vaults/
                  - Ref: SourceVault
            Sid: allowGlacierAccess
        Version: "2012-10-17"
      PolicyName: stageOnedownloadInventoryPartServiceRoleDefaultPolicy59CA83BD
      Roles:
        - Ref: stageOnedownloadInventoryPartServiceRole73BC3A9B
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/downloadInventoryPart/ServiceRole/DefaultPolicy/Resource
  stageOnedownloadInventoryPartC8387F3A:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters8febf8c88e80304d4b594710e047bbbd55884939f6cf420047f1f34ccc49f284S3Bucket0D9544B3
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters8febf8c88e80304d4b594710e047bbbd55884939f6cf420047f1f34ccc49f284S3VersionKey2F48D9F4
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters8febf8c88e80304d4b594710e047bbbd55884939f6cf420047f1f34ccc49f284S3VersionKey2F48D9F4
      Role:
        Fn::GetAtt:
          - stageOnedownloadInventoryPartServiceRole73BC3A9B
          - Arn
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -downloadInventoryPart
      Handler: index.handler
      MemorySize: 1024
      ReservedConcurrentExecutions: 1
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 900
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
      - stageOnedownloadInventoryPartServiceRoleDefaultPolicy59CA83BD
      - stageOnedownloadInventoryPartServiceRole73BC3A9B
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageOnedownloadInventoryServiceRole411212F6:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/downloadInventory/ServiceRole/Resource
  stageOnedownloadInventoryServiceRoleDefaultPolicy8C7F6A4F:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action:
              - glacier:GetJobOutput
              - glacier:InitiateJob
            Condition:
              Bool:
                aws:SecureTransport: true
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:glacier:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :vaults/
                  - Ref: SourceVault
            Sid: allowGlacierAccess
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageOnedownloadInventoryPartC8387F3A
                - Arn
          - Action: states:StartExecution
            Effect: Allow
            Resource:
              Ref: stageTwoOrchestrator
        Version: "2012-10-17"
      PolicyName: stageOnedownloadInventoryServiceRoleDefaultPolicy8C7F6A4F
      Roles:
        - Ref: stageOnedownloadInventoryServiceRole411212F6
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/downloadInventory/ServiceRole/DefaultPolicy/Resource
  stageOnedownloadInventory7367D822:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersa0c173e593f496a1ef5d38a8668315ee59a9f0899266a81ea3d4bf5d3ac10c07S3BucketC20C16B8
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersa0c173e593f496a1ef5d38a8668315ee59a9f0899266a81ea3d4bf5d3ac10c07S3VersionKeyCDBABC1A
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersa0c173e593f496a1ef5d38a8668315ee59a9f0899266a81ea3d4bf5d3ac10c07S3VersionKeyCDBABC1A
      Role:
        Fn::GetAtt:
          - stageOnedownloadInventoryServiceRole411212F6
          - Arn
      Environment:
        Variables:
          INVENTORY_BUCKET:
            Ref: stagingBucket
          BUCKET_PREFIX: inventory
          GLACIER_VAULT:
            Ref: SourceVault
          STAGE_TWO_SF_ARN:
            Ref: stageTwoOrchestrator
          INVENTORY_PART_FUNCTION:
            Ref: stageOnedownloadInventoryPartC8387F3A
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -downloadInventory
      Handler: index.handler
      MemorySize: 1024
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 900
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
      - stageOnedownloadInventoryServiceRoleDefaultPolicy8C7F6A4F
      - stageOnedownloadInventoryServiceRole411212F6
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageOnedownloadInventoryAllowInvokeamazons3glacierrefreezerstageOneInventoryNotificationD1444801FA8E86D3:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Fn::GetAtt:
          - stageOnedownloadInventory7367D822
          - Arn
      Principal: sns.amazonaws.com
      SourceArn:
        Ref: inventoryNotification
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/downloadInventory/AllowInvoke:amazons3glacierrefreezerstageOneInventoryNotificationD1444801
  stageOnedownloadInventoryInventoryNotification72A472C2:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: lambda
      TopicArn:
        Ref: inventoryNotification
      Endpoint:
        Fn::GetAtt:
          - stageOnedownloadInventory7367D822
          - Arn
    DependsOn:
      - monitoringCalculateMetricsDynamoDBEventSourceamazons3glacierrefreezerdynamoDataCatalogStatusTable7052596D0ABFB5EB
      - monitoringCalculateMetrics1B70CF5B
      - monitoringcalculateMetricsLogGroup9961A214
      - monitoringCalculateMetricsRoleDefaultPolicy22C0E657
      - monitoringCalculateMetricsRoleA76278A7
      - monitoringCalculateMetricsRolePolicy0C1EF64D
      - monitoringcalculateTreehashLogGroup6FC738B3
      - monitoringcopyChunkLogGroup5D04918E
      - monitoringcopyToDestinationBucketLogGroup4BB91669
      - monitoringdeployGlueJobScriptLogGroupAA50E4DE
      - monitoringdownloadInventoryLogGroup2471C2FF
      - monitoringdownloadInventoryPartLogGroupD9E69690
      - monitoringgenerateUuidLogGroup18A074CF
      - monitoringglacierrefreezerdashboardE7F6D8AE
      - monitoringPostMetrics98F9F947
      - monitoringPostMetricScheduleAllowEventRuleamazons3glacierrefreezermonitoringPostMetrics267F3B25BC9F085A
      - monitoringPostMetricSchedule8675C968
      - monitoringpostMetricsLogGroup670566A8
      - monitoringPostMetricsRole87B61E7B
      - monitoringPostMetricsRolePolicy596F9F4D
      - monitoringrequestArchivesLogGroup70D7C9C5
      - monitoringrequestInventoryLogGroupB7C9607D
      - monitoringsendAnonymousStatsLogGroup0C9968BB
      - monitoringsplitArchiveLogGroup026DE41D
      - monitoringstageTwoOrchestratorLogGroup62996996
      - monitoringtoLowercaseLogGroupC05CBA29
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageOne/downloadInventory/InventoryNotification/Resource
  stageFourdestinationcopyqueue3EEF6C15:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      QueueName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -destination-copy-queue
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      VisibilityTimeout: 905
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W48
            reason: Non sensitive metadata - encryption is not required and cost inefficient
  stageFourdestinationcopyqueuePolicyB1179CE7:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Statement:
          - Action: sqs:*
            Condition:
              Bool:
                aws:SecureTransport: false
            Effect: Deny
            Principal:
              AWS: "*"
            Resource:
              Fn::GetAtt:
                - stageFourdestinationcopyqueue3EEF6C15
                - Arn
            Sid: denyInsecureTransport
        Version: "2012-10-17"
      Queues:
        - Ref: stageFourdestinationcopyqueue3EEF6C15
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageFour/destination-copy-queue/Policy/Resource
  stageFourCalculateTreehashRoleC5DE238E:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageFour/CalculateTreehashRole/Resource
  stageFourCalculateTreehashRoleDefaultPolicy38EF64C8:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:ConditionCheckItem
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogStatusTableE9ACB88F
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - dynamoDataCatalogStatusTableE9ACB88F
                        - Arn
                    - /index/*
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:ConditionCheckItem
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogMetricsTable174C007B
                  - Arn
              - Ref: AWS::NoValue
          - Action:
              - sqs:SendMessage
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageThreearchivenotificationqueue402FED49
                - Arn
          - Action:
              - sqs:SendMessage
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageFourdestinationcopyqueue3EEF6C15
                - Arn
          - Action:
              - sqs:ReceiveMessage
              - sqs:ChangeMessageVisibility
              - sqs:GetQueueUrl
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageThreetreehashcalcqueue77403987
                - Arn
        Version: "2012-10-17"
      PolicyName: stageFourCalculateTreehashRoleDefaultPolicy38EF64C8
      Roles:
        - Ref: stageFourCalculateTreehashRoleC5DE238E
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W76
            reason: Policy is auto-generated by CDK
  stageFourCalculateTreehashRolePolicyC1ADC373:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/
                  - Ref: AWS::StackName
                  - -calculateTreehash:**
            Sid: allowCloudWatchLogs
          - Action: s3:PutObject
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:"
                  - Ref: AWS::Partition
                  - ":s3:::"
                  - Ref: DestinationBucket
                  - /*
            Sid: allowPutObject
          - Action: s3:ListBucket
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:"
                  - Ref: AWS::Partition
                  - ":s3:::"
                  - Ref: DestinationBucket
            Sid: allowListBucket
        Version: "2012-10-17"
      PolicyName: stageFourCalculateTreehashRolePolicyC1ADC373
      Roles:
        - Ref: stageFourCalculateTreehashRoleC5DE238E
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageFour/CalculateTreehashRolePolicy/Resource
  stageFourcalculateTreehashC1E7BFB4:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersa234a6a137f5545986e727157f7817aaa55cd08312ae553d0ee4ab8d7504a9e9S3Bucket0901E39E
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersa234a6a137f5545986e727157f7817aaa55cd08312ae553d0ee4ab8d7504a9e9S3VersionKey73F09406
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersa234a6a137f5545986e727157f7817aaa55cd08312ae553d0ee4ab8d7504a9e9S3VersionKey73F09406
      Role:
        Fn::GetAtt:
          - stageFourCalculateTreehashRoleC5DE238E
          - Arn
      Environment:
        Variables:
          DESTINATION_BUCKET:
            Ref: DestinationBucket
          STORAGE_CLASS:
            Ref: DestinationStorageClass
          STAGING_BUCKET:
            Ref: stagingBucket
          STAGING_BUCKET_PREFIX: stagingdata
          STATUS_TABLE:
            Ref: dynamoDataCatalogStatusTableE9ACB88F
          METRIC_TABLE:
            Ref: dynamoDataCatalogMetricsTable174C007B
          SQS_ARCHIVE_NOTIFICATION:
            Fn::GetAtt:
              - stageThreearchivenotificationqueue402FED49
              - QueueName
          SQS_COPY_TO_DESTINATION_NOTIFICATION:
            Fn::GetAtt:
              - stageFourdestinationcopyqueue3EEF6C15
              - QueueName
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -calculateTreehash
      Handler: index.handler
      MemorySize: 1024
      ReservedConcurrentExecutions: 55
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 900
    DependsOn:
      - stageFourCalculateTreehashRoleDefaultPolicy38EF64C8
      - stageFourCalculateTreehashRoleC5DE238E
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageFourcalculateTreehashSqsEventSourceamazons3glacierrefreezerstageThreetreehashcalcqueueCF0039B2AB054DB0:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      FunctionName:
        Ref: stageFourcalculateTreehashC1E7BFB4
      BatchSize: 1
      EventSourceArn:
        Fn::GetAtt:
          - stageThreetreehashcalcqueue77403987
          - Arn
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageFour/calculateTreehash/SqsEventSource:amazons3glacierrefreezerstageThreetreehashcalcqueueCF0039B2/Resource
  stageFourcopyToDestinationBucketServiceRole65221CE0:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageFour/copyToDestinationBucket/ServiceRole/Resource
  stageFourcopyToDestinationBucketServiceRoleDefaultPolicy54E21CAC:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - stagingBucket
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - stagingBucket
                        - Arn
                    - /*
          - Action:
              - dynamodb:BatchGetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:Query
              - dynamodb:GetItem
              - dynamodb:Scan
              - dynamodb:ConditionCheckItem
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - dynamoDataCatalogStatusTableE9ACB88F
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - dynamoDataCatalogStatusTableE9ACB88F
                        - Arn
                    - /index/*
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":s3:::"
                    - Ref: DestinationBucket
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":s3:::"
                    - Ref: DestinationBucket
                    - /*
          - Action:
              - sqs:ReceiveMessage
              - sqs:ChangeMessageVisibility
              - sqs:GetQueueUrl
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stageFourdestinationcopyqueue3EEF6C15
                - Arn
        Version: "2012-10-17"
      PolicyName: stageFourcopyToDestinationBucketServiceRoleDefaultPolicy54E21CAC
      Roles:
        - Ref: stageFourcopyToDestinationBucketServiceRole65221CE0
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageFour/copyToDestinationBucket/ServiceRole/DefaultPolicy/Resource
  stageFourcopyToDestinationBucket5643054F:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters287f2c4d9d58db12cb1177e514e26bd1ae891e4604832c3330944c5686693ba8S3Bucket930EAB07
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters287f2c4d9d58db12cb1177e514e26bd1ae891e4604832c3330944c5686693ba8S3VersionKey1B439300
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters287f2c4d9d58db12cb1177e514e26bd1ae891e4604832c3330944c5686693ba8S3VersionKey1B439300
      Role:
        Fn::GetAtt:
          - stageFourcopyToDestinationBucketServiceRole65221CE0
          - Arn
      Environment:
        Variables:
          DESTINATION_BUCKET:
            Ref: DestinationBucket
          STORAGE_CLASS:
            Ref: DestinationStorageClass
          STAGING_BUCKET:
            Ref: stagingBucket
          STAGING_BUCKET_PREFIX: stagingdata
          STATUS_TABLE:
            Ref: dynamoDataCatalogStatusTableE9ACB88F
      FunctionName:
        Fn::Join:
          - ""
          - - Ref: AWS::StackName
            - -copyToDestinationBucket
      Handler: index.handler
      MemorySize: 128
      ReservedConcurrentExecutions: 100
      Runtime: nodejs14.x
      Tags:
        - Key: solution
          Value: amazon-s3-glacier-refreezer
      Timeout: 900
    DependsOn:
      - stageFourcopyToDestinationBucketServiceRoleDefaultPolicy54E21CAC
      - stageFourcopyToDestinationBucketServiceRole65221CE0
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: cfn nag is unable to reason about CDK generated cloudwatch log permissions
          - id: W89
            reason: This is a fully serverless solution - no VPC is required
          - id: W92
            reason: Reserved Concurrency is set on high priority functions only by design
  stageFourcopyToDestinationBucketSqsEventSourceamazons3glacierrefreezerstageFourdestinationcopyqueue4502522617F42C7C:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      FunctionName:
        Ref: stageFourcopyToDestinationBucket5643054F
      BatchSize: 1
      EventSourceArn:
        Fn::GetAtt:
          - stageFourdestinationcopyqueue3EEF6C15
          - Arn
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/stageFour/copyToDestinationBucket/SqsEventSource:amazons3glacierrefreezerstageFourdestinationcopyqueue45025226/Resource
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Analytics: v2:deflate64:H4sIAAAAAAAAE21TTW/bMAz9Lb0r6rxettvSr6BDh2VxgJ5pmXVU25InUekCw/99lJQmbtGL9EhRT+QjVcii+C6/XPyAV79QdXs5KutQjiWBasXNs/kFw6BNE+EaHPRI6MSNNZ5cUCSW3iNxcJNigifbb9Db4BTGKyc8d/4ONASKiHlqTdqaScT3R38lx+ugWkynR5S3te20OpzdRzsb1+BxEh30VQ1yvA9GRdIYfMJ3ezRUphxmJX3uXaPrtfcpLw29HDe2y+XE/ZxJRpPwVwuIOniZ5BBNF1jCWyCoOLEYecJbqDLVCfy0FVdPOzQg2Xyyrl05GwZRHwz0tq7k+P4SRw8DPwyxLghkvYKOM2fp+IWSjRi1JHK6CoTizbMF12RhP3jytnXccaYpM9u5yncOLtZ4zsgOWqWMEkjr+cbcLEPlldPDW0Pm9iQw6s98m3AUOMT6VGdD/QqkdlFFv6ssuDrLeDS42bbxUa9H22S5/F/m+RMwJKIM0nrOa2ZyHYTD83E6/ILAt3x/mfrA8+yIg93h7h+qkFLPJyvMfh7n0JEXK+50iuYuboIRt6ln60APhL14TAP5YPa2xQ8PyjH+pq7DTqx5dsQTaBL3oDtxs7Oa/0kZlEKsBbMTz6baaZMKm9vTNAlja5Qv/nJffJPFV1lcvHitFy4Y0j3KTd7/A037Ty/mAwAA
    Metadata:
      aws:cdk:path: amazon-s3-glacier-refreezer/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Outputs:
  CloudTrailExportConfirmationSelection:
    Description: Selected option for CloudTrail Export confirmation
    Value:
      Ref: CloudTrailExportConfirmation
  SNSTopicForVaultConfirmationSelection:
    Description: Selected option for SNS Topic for Vault confirmation
    Value:
      Ref: SNSTopicForVaultConfirmation
  StagingBucketName:
    Description: Staging Bucket Name
    Value:
      Ref: stagingBucket
  dashboardUrl:
    Description: Progress Dashboard URL
    Value:
      Fn::Join:
        - ""
        - - https://
          - Ref: AWS::Region
          - .console.aws.amazon.com/cloudwatch/home?region=
          - Ref: AWS::Region
          - "#dashboards:name="
          - Ref: AWS::StackName
          - -Amazon-S3-Glacier-ReFreezer;accountId=
          - Ref: AWS::AccountId
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2

