pipr_dataset/348581680.yaml
Resources:
  AskAboutWeatherServiceRoleD690EA8D:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: WellTypedStack/AskAboutWeather/ServiceRole/Resource
  AskAboutWeatherFB9E978B:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932bS3Bucket15AC527D
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932bS3VersionKeyE5A713DE
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932bS3VersionKeyE5A713DE
      Role:
        Fn::GetAtt:
          - AskAboutWeatherServiceRoleD690EA8D
          - Arn
      Handler: lambda_function.lambda_handler
      Runtime: python3.7
      Timeout: 20
    DependsOn:
      - AskAboutWeatherServiceRoleD690EA8D
    Metadata:
      aws:cdk:path: WellTypedStack/AskAboutWeather/Resource
      aws:asset:path: asset.96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932b
      aws:asset:property: Code
  LookAtTheCloudsServiceRoleA3DD58B0:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: WellTypedStack/LookAtTheClouds/ServiceRole/Resource
  LookAtTheClouds142F4D46:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82S3Bucket0BE4BBA4
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82S3VersionKey29FD259E
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82S3VersionKey29FD259E
      Role:
        Fn::GetAtt:
          - LookAtTheCloudsServiceRoleA3DD58B0
          - Arn
      Handler: lambda_function.lambda_handler
      Runtime: python3.7
      Timeout: 20
    DependsOn:
      - LookAtTheCloudsServiceRoleA3DD58B0
    Metadata:
      aws:cdk:path: WellTypedStack/LookAtTheClouds/Resource
      aws:asset:path: asset.462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82
      aws:asset:property: Code
  SayGoodbyeServiceRoleE3BBB358:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: WellTypedStack/SayGoodbye/ServiceRole/Resource
  SayGoodbye98E53F4B:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084S3Bucket4BA0A561
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084S3VersionKey3C884C7A
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084S3VersionKey3C884C7A
      Role:
        Fn::GetAtt:
          - SayGoodbyeServiceRoleE3BBB358
          - Arn
      Handler: lambda_function.lambda_handler
      Runtime: python3.7
      Timeout: 20
    DependsOn:
      - SayGoodbyeServiceRoleE3BBB358
    Metadata:
      aws:cdk:path: WellTypedStack/SayGoodbye/Resource
      aws:asset:path: asset.0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084
      aws:asset:property: Code
  SayHelloServiceRole5A8D6C6F:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: WellTypedStack/SayHello/ServiceRole/Resource
  SayHello3F96A6B3:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247eS3BucketEADDEF9D
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247eS3VersionKey802214A2
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247eS3VersionKey802214A2
      Role:
        Fn::GetAtt:
          - SayHelloServiceRole5A8D6C6F
          - Arn
      Handler: lambda_function.lambda_handler
      Runtime: python3.7
      Timeout: 20
    DependsOn:
      - SayHelloServiceRole5A8D6C6F
    Metadata:
      aws:cdk:path: WellTypedStack/SayHello/Resource
      aws:asset:path: asset.6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247e
      aws:asset:property: Code
  WeatherMachineRole74BC1F06:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - states.
                    - Ref: AWS::Region
                    - .amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: WellTypedStack/WeatherMachine/Role/Resource
  WeatherMachineRoleDefaultPolicy5E2E2167:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - SayHello3F96A6B3
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - AskAboutWeatherFB9E978B
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - LookAtTheClouds142F4D46
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - SayGoodbye98E53F4B
                - Arn
        Version: "2012-10-17"
      PolicyName: WeatherMachineRoleDefaultPolicy5E2E2167
      Roles:
        - Ref: WeatherMachineRole74BC1F06
    Metadata:
      aws:cdk:path: WellTypedStack/WeatherMachine/Role/DefaultPolicy/Resource
  WeatherMachine56CC2818:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - WeatherMachineRole74BC1F06
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"StateSayHello","States":{"StateSayHello":{"Next":"StateAskAboutWeather","Type":"Task","ResultPath":"$.hello","Resource":"'
            - Fn::GetAtt:
                - SayHello3F96A6B3
                - Arn
            - '"},"StateAskAboutWeather":{"Next":"WeatherChoice","Type":"Task","ResultPath":"$.weather","Resource":"'
            - Fn::GetAtt:
                - AskAboutWeatherFB9E978B
                - Arn
            - '"},"StateLookAtTheClouds":{"Next":"StateAskAboutWeather","Type":"Task","ResultPath":"$.clouds","Resource":"'
            - Fn::GetAtt:
                - LookAtTheClouds142F4D46
                - Arn
            - '"},"WeatherChoice":{"Type":"Choice","Choices":[{"Variable":"$.weather","StringEquals":"rainy","Next":"StateSayGoodbye"},{"Variable":"$.weather","StringEquals":"cloudy","Next":"StateLookAtTheClouds"},{"Variable":"$.weather","StringEquals":"sunny","Next":"StateLookAtTheClouds"}]},"StateSayGoodbye":{"End":true,"Type":"Task","ResultPath":"$.goodbye","Resource":"'
            - Fn::GetAtt:
                - SayGoodbye98E53F4B
                - Arn
            - '"}}}'
    DependsOn:
      - WeatherMachineRoleDefaultPolicy5E2E2167
      - WeatherMachineRole74BC1F06
    Metadata:
      aws:cdk:path: WellTypedStack/WeatherMachine/Resource
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Analytics: v2:deflate64:H4sIAAAAAAAAE1VP0U7DMAz8lr2n3sJeeARVQkICaeq+wKTu5rVNUOxuQlH+nSaAgCffWee7swW728Nu84A3aVw/bpMLkSAdFd1oHkVIV3hifzIdSViiI9MGLxoXp6Yd/AEjzqQUC/mVDH5V9awcfDbFO004v/UI6WnxrqyL5gdnwzhD6sJUT+s8hIndR42oKBvZN1gKCdReRpTeh28HaRRlFHipKc/+Gkb6L4DUngOv3dZ/lF7RndnXtL8852x86Akusr3ae7B3YDcXYW7i4pVngu5rfgLFMqNGOAEAAA==
    Metadata:
      aws:cdk:path: WellTypedStack/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Parameters:
  AssetParameters96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932bS3Bucket15AC527D:
    Type: String
    Description: S3 bucket for asset "96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932b"
  AssetParameters96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932bS3VersionKeyE5A713DE:
    Type: String
    Description: S3 key for asset version "96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932b"
  AssetParameters96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932bArtifactHashA216BA95:
    Type: String
    Description: Artifact hash for asset "96edebd8775d945ec19cc78b86c3041962de730420baceea2767a8dc5741932b"
  AssetParameters462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82S3Bucket0BE4BBA4:
    Type: String
    Description: S3 bucket for asset "462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82"
  AssetParameters462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82S3VersionKey29FD259E:
    Type: String
    Description: S3 key for asset version "462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82"
  AssetParameters462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82ArtifactHash669BB6ED:
    Type: String
    Description: Artifact hash for asset "462935e5881af39b34e9892bd271349ce2ca49fbf9337f9fb67182caaa038c82"
  AssetParameters0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084S3Bucket4BA0A561:
    Type: String
    Description: S3 bucket for asset "0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084"
  AssetParameters0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084S3VersionKey3C884C7A:
    Type: String
    Description: S3 key for asset version "0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084"
  AssetParameters0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084ArtifactHash93A6F9D7:
    Type: String
    Description: Artifact hash for asset "0c64c4d02d27c8b893a05970d321ced058c5b91062caafe8ebaac47b91c68084"
  AssetParameters6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247eS3BucketEADDEF9D:
    Type: String
    Description: S3 bucket for asset "6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247e"
  AssetParameters6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247eS3VersionKey802214A2:
    Type: String
    Description: S3 key for asset version "6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247e"
  AssetParameters6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247eArtifactHashE80D9027:
    Type: String
    Description: Artifact hash for asset "6884b7537d2c3e7d6f6e52190e8bd3a9b9e2c486a07f01df19e045adc028247e"
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2

