pipr_dataset/357295041.yaml
Resources:
  PerformIdentityCheckFunctionServiceRole2AD3EB03:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    Metadata:
      aws:cdk:path: ProcessApplicationStack/PerformIdentityCheckFunction/ServiceRole/Resource
  PerformIdentityCheckFunction5039366E:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: c67a5a4e0c5fca96c739f40a728f7d027bda643b61c05dbfebadde5ea167a935.zip
      Role:
        Fn::GetAtt:
          - PerformIdentityCheckFunctionServiceRole2AD3EB03
          - Arn
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: "1"
      Handler: index.handlePerformIdentityCheck
      Runtime: nodejs14.x
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    DependsOn:
      - PerformIdentityCheckFunctionServiceRole2AD3EB03
    Metadata:
      aws:cdk:path: ProcessApplicationStack/PerformIdentityCheckFunction/Resource
      aws:asset:path: asset.c67a5a4e0c5fca96c739f40a728f7d027bda643b61c05dbfebadde5ea167a935
      aws:asset:property: Code
  PerformAffordabilityCheckFunctionServiceRole96641F24:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    Metadata:
      aws:cdk:path: ProcessApplicationStack/PerformAffordabilityCheckFunction/ServiceRole/Resource
  PerformAffordabilityCheckFunction9A6F36A2:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: c67a5a4e0c5fca96c739f40a728f7d027bda643b61c05dbfebadde5ea167a935.zip
      Role:
        Fn::GetAtt:
          - PerformAffordabilityCheckFunctionServiceRole96641F24
          - Arn
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: "1"
      Handler: index.handlePerformAffordabilityCheck
      Runtime: nodejs14.x
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    DependsOn:
      - PerformAffordabilityCheckFunctionServiceRole96641F24
    Metadata:
      aws:cdk:path: ProcessApplicationStack/PerformAffordabilityCheckFunction/Resource
      aws:asset:path: asset.c67a5a4e0c5fca96c739f40a728f7d027bda643b61c05dbfebadde5ea167a935
      aws:asset:property: Code
  SendEmailFunctionServiceRole377037ED:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    Metadata:
      aws:cdk:path: ProcessApplicationStack/SendEmailFunction/ServiceRole/Resource
  SendEmailFunction93B2B000:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: c67a5a4e0c5fca96c739f40a728f7d027bda643b61c05dbfebadde5ea167a935.zip
      Role:
        Fn::GetAtt:
          - SendEmailFunctionServiceRole377037ED
          - Arn
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: "1"
      Handler: index.handleSendEmail
      Runtime: nodejs14.x
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    DependsOn:
      - SendEmailFunctionServiceRole377037ED
    Metadata:
      aws:cdk:path: ProcessApplicationStack/SendEmailFunction/Resource
      aws:asset:path: asset.c67a5a4e0c5fca96c739f40a728f7d027bda643b61c05dbfebadde5ea167a935
      aws:asset:property: Code
  NotifyUnderwriterFunctionServiceRole1FC53A5A:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    Metadata:
      aws:cdk:path: ProcessApplicationStack/NotifyUnderwriterFunction/ServiceRole/Resource
  NotifyUnderwriterFunctionE188650F:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: c67a5a4e0c5fca96c739f40a728f7d027bda643b61c05dbfebadde5ea167a935.zip
      Role:
        Fn::GetAtt:
          - NotifyUnderwriterFunctionServiceRole1FC53A5A
          - Arn
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: "1"
      Handler: index.handleNotifyUnderwriter
      Runtime: nodejs14.x
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    DependsOn:
      - NotifyUnderwriterFunctionServiceRole1FC53A5A
    Metadata:
      aws:cdk:path: ProcessApplicationStack/NotifyUnderwriterFunction/Resource
      aws:asset:path: asset.c67a5a4e0c5fca96c739f40a728f7d027bda643b61c05dbfebadde5ea167a935
      aws:asset:property: Code
  Evalda2d1181604e4a4586941a6abd7fe42dServiceRoleED144118:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    Metadata:
      aws:cdk:path: ProcessApplicationStack/Evalda2d1181604e4a4586941a6abd7fe42d/ServiceRole/Resource
  Evalda2d1181604e4a4586941a6abd7fe42dF371675D:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: 60b6c03699931909d2ad414c0267c97acfb59f4581c892c302c351dd365c955e.zip
      Role:
        Fn::GetAtt:
          - Evalda2d1181604e4a4586941a6abd7fe42dServiceRoleED144118
          - Arn
      Handler: index.handler
      Runtime: nodejs14.x
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    DependsOn:
      - Evalda2d1181604e4a4586941a6abd7fe42dServiceRoleED144118
    Metadata:
      aws:cdk:path: ProcessApplicationStack/Evalda2d1181604e4a4586941a6abd7fe42d/Resource
      aws:asset:path: asset.60b6c03699931909d2ad414c0267c97acfb59f4581c892c302c351dd365c955e
      aws:asset:property: Code
  ProcessApplicationStateMachineRoleF75C1C9D:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - states.
                    - Ref: AWS::Region
                    - .amazonaws.com
        Version: "2012-10-17"
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    Metadata:
      aws:cdk:path: ProcessApplicationStack/ProcessApplicationStateMachine/Role/Resource
  ProcessApplicationStateMachineRoleDefaultPolicy5775B353:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - Evalda2d1181604e4a4586941a6abd7fe42dF371675D
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - PerformAffordabilityCheckFunction9A6F36A2
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - SendEmailFunction93B2B000
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - NotifyUnderwriterFunctionE188650F
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - PerformIdentityCheckFunction5039366E
                - Arn
        Version: "2012-10-17"
      PolicyName: ProcessApplicationStateMachineRoleDefaultPolicy5775B353
      Roles:
        - Ref: ProcessApplicationStateMachineRoleF75C1C9D
    Metadata:
      aws:cdk:path: ProcessApplicationStack/ProcessApplicationStateMachine/Role/DefaultPolicy/Resource
  ProcessApplicationStateMachine3C673BA9:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - ProcessApplicationStateMachineRoleF75C1C9D
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"PerformIdentityChecks","States":{"PerformIdentityChecks":{"Type":"Map","ResultPath":"$.identityResults","Next":"AggregateIdentityResultsExpression","InputPath":"$.application","Iterator":{"StartAt":"PerformIdentityCheck","States":{"PerformIdentityCheck":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"'
            - Fn::GetAtt:
                - PerformIdentityCheckFunction5039366E
                - Arn
            - '"}}},"ItemsPath":"$.applicants"},"AggregateIdentityResultsExpression":{"Next":"EvaluateIdentityResults","Type":"Task","ResultPath":"$.overallIdentityResult","Resource":"'
            - Fn::GetAtt:
                - Evalda2d1181604e4a4586941a6abd7fe42dF371675D
                - Arn
            - '","Parameters":{"expression":"($.identityResults).every((r) => r.success)","expressionAttributeValues":{"$.identityResults.$":"$.identityResults"}}},"EvaluateIdentityResults":{"Type":"Choice","Choices":[{"Variable":"$.overallIdentityResult","BooleanEquals":false,"Next":"PerformDeclineTasks"}],"Default":"PerformAffordabilityCheck"},"PerformAffordabilityCheck":{"Next":"EvaluateAffordabilityResult","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$.application","ResultPath":"$.affordabilityResult","Resource":"'
            - Fn::GetAtt:
                - PerformAffordabilityCheckFunction9A6F36A2
                - Arn
            - '"},"EvaluateAffordabilityResult":{"Type":"Choice","Choices":[{"Variable":"$.affordabilityResult","StringEquals":"BAD","Next":"PerformDeclineTasks"},{"Variable":"$.affordabilityResult","StringEquals":"POOR","Next":"PerformReferTasks"}],"Default":"PerformAcceptTasks"},"PerformAcceptTasks":{"Type":"Parallel","End":true,"Branches":[{"StartAt":"SendAcceptEmail","States":{"SendAcceptEmail":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"'
            - Fn::GetAtt:
                - SendEmailFunction93B2B000
                - Arn
            - '","Parameters":{"emailType":"ACCEPT","application.$":"$.application"}}}}]},"PerformDeclineTasks":{"Type":"Parallel","End":true,"Branches":[{"StartAt":"SendDeclineEmail","States":{"SendDeclineEmail":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"'
            - Fn::GetAtt:
                - SendEmailFunction93B2B000
                - Arn
            - '","Parameters":{"emailType":"Decline","application.$":"$.application"}}}}]},"PerformReferTasks":{"Type":"Parallel","End":true,"Branches":[{"StartAt":"SendReferEmail","States":{"SendReferEmail":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"'
            - Fn::GetAtt:
                - SendEmailFunction93B2B000
                - Arn
            - '","Parameters":{"emailType":"REFER","application.$":"$.application"}}}},{"StartAt":"NotifyUnderwriter","States":{"NotifyUnderwriter":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$.application","Resource":"'
            - Fn::GetAtt:
                - NotifyUnderwriterFunctionE188650F
                - Arn
            - '"}}}]}}}'
      Tags:
        - Key: app
          Value: blog-step-functions-cdk
        - Key: stack
          Value: ProcessApplication
    DependsOn:
      - ProcessApplicationStateMachineRoleDefaultPolicy5775B353
      - ProcessApplicationStateMachineRoleF75C1C9D
    Metadata:
      aws:cdk:path: ProcessApplicationStack/ProcessApplicationStateMachine/Resource
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Analytics: v2:deflate64:H4sIAAAAAAAAE11PXU/DMAz8LXt3PQov4w1UbRISg6n7BSH1trRpUsVJAVX97yQpHxNPvrN953OJ9xu8WT2Idy5k060naR3hdPRCdvDITD7CszJnqIltcJKgOpnX4IfgobKGvQvSp971PA4a5ZU1MyTjSYv+rRGFsQ21jC+57IKRaQWU6HGqrc7KXA9WK/mZ6IJm4LtCpDCMORMshjjFlV+fY0ypydu/zg+Iek/D6ZsxTnsxwEE4oTVpqC5WxdjxT097IS/K5CTX/J9B4QV30eY5p3gyo+0ItqPQIUq2H4Mj5nR2niG9jC2vx3KD5S2Wq5aVKlwwXvWE9VK/AHHjJ0yFAQAA
    Metadata:
      aws:cdk:path: ProcessApplicationStack/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Outputs:
  ProcessApplicationStateMachineARN:
    Value:
      Ref: ProcessApplicationStateMachine3C673BA9
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2
Parameters:
  BootstrapVersion:
    Type: AWS::SSM::Parameter::Value<String>
    Default: /cdk-bootstrap/hnb659fds/version
    Description: Version of the CDK Bootstrap resources in this environment, automatically retrieved from SSM Parameter Store.
Rules:
  CheckBootstrapVersion:
    Assertions:
      - Assert:
          Fn::Not:
            - Fn::Contains:
                - - "1"
                  - "2"
                  - "3"
                - Ref: BootstrapVersion
        AssertDescription: CDK bootstrap stack version 4 required. Please run 'cdk bootstrap' with a recent version of the CDK CLI.

