pipr_dataset/366792027.yaml
Resources:
  OpenCaseServiceRoleBA1C8692:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/OpenCase/ServiceRole/Resource
  OpenCase63488817:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3Bucket4C168A1A
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
      Role:
        Fn::GetAtt:
          - OpenCaseServiceRoleBA1C8692
          - Arn
      Handler: openCase.handler
      Runtime: nodejs14.x
    DependsOn:
      - OpenCaseServiceRoleBA1C8692
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/OpenCase/Resource
      aws:asset:path: asset.f7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1
      aws:asset:property: Code
  AssignCaseServiceRoleB26DE8D6:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/AssignCase/ServiceRole/Resource
  AssignCase8D7DE9BB:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3Bucket4C168A1A
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
      Role:
        Fn::GetAtt:
          - AssignCaseServiceRoleB26DE8D6
          - Arn
      Handler: assignCase.handler
      Runtime: nodejs14.x
    DependsOn:
      - AssignCaseServiceRoleB26DE8D6
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/AssignCase/Resource
      aws:asset:path: asset.f7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1
      aws:asset:property: Code
  HandleCaseServiceRole807BD538:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/HandleCase/ServiceRole/Resource
  HandleCase0240F67C:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3Bucket4C168A1A
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
      Role:
        Fn::GetAtt:
          - HandleCaseServiceRole807BD538
          - Arn
      Handler: handleCase.handler
      Runtime: nodejs14.x
    DependsOn:
      - HandleCaseServiceRole807BD538
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/HandleCase/Resource
      aws:asset:path: asset.f7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1
      aws:asset:property: Code
  CloseCaseServiceRole6EA7911E:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/CloseCase/ServiceRole/Resource
  CloseCaseF91C7DE7:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3Bucket4C168A1A
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
      Role:
        Fn::GetAtt:
          - CloseCaseServiceRole6EA7911E
          - Arn
      Handler: closeCase.handler
      Runtime: nodejs14.x
    DependsOn:
      - CloseCaseServiceRole6EA7911E
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/CloseCase/Resource
      aws:asset:path: asset.f7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1
      aws:asset:property: Code
  EscalateCaseServiceRoleA0B52085:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/EscalateCase/ServiceRole/Resource
  EscalateCaseD75803A6:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3Bucket4C168A1A
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5
      Role:
        Fn::GetAtt:
          - EscalateCaseServiceRoleA0B52085
          - Arn
      Handler: escalateCase.handler
      Runtime: nodejs14.x
    DependsOn:
      - EscalateCaseServiceRoleA0B52085
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/EscalateCase/Resource
      aws:asset:path: asset.f7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1
      aws:asset:property: Code
  EscalationTopic8FD7D57B:
    Type: AWS::SNS::Topic
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/EscalationTopic/Resource
  EscalationSQS130BBCE8:
    Type: AWS::SQS::Queue
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/EscalationSQS/Resource
  EscalationSQSPolicy8BE1E351:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Statement:
          - Action: sqs:SendMessage
            Condition:
              ArnEquals:
                aws:SourceArn:
                  Ref: EscalationTopic8FD7D57B
            Effect: Allow
            Principal:
              Service: sns.amazonaws.com
            Resource:
              Fn::GetAtt:
                - EscalationSQS130BBCE8
                - Arn
        Version: "2012-10-17"
      Queues:
        - Ref: EscalationSQS130BBCE8
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/EscalationSQS/Policy/Resource
  EscalationSQSSyncStepFunctionStackEscalationTopicA20618E2E29CFB9E:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: sqs
      TopicArn:
        Ref: EscalationTopic8FD7D57B
      Endpoint:
        Fn::GetAtt:
          - EscalationSQS130BBCE8
          - Arn
      RawMessageDelivery: true
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/EscalationSQS/SyncStepFunctionStackEscalationTopicA20618E2/Resource
  CallCenterStateMachineLogGroupAE710B0E:
    Type: AWS::Logs::LogGroup
    Properties:
      RetentionInDays: 1
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/CallCenterStateMachineLogGroup/Resource
  CallCenterStateMachineRoleCCD56559:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - states.
                    - Ref: AWS::Region
                    - .amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/CallCenterStateMachine/Role/Resource
  CallCenterStateMachineRoleDefaultPolicy36C298BD:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogDelivery
              - logs:GetLogDelivery
              - logs:UpdateLogDelivery
              - logs:DeleteLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:DescribeResourcePolicies
              - logs:DescribeLogGroups
            Effect: Allow
            Resource: "*"
          - Action:
              - xray:PutTraceSegments
              - xray:PutTelemetryRecords
              - xray:GetSamplingRules
              - xray:GetSamplingTargets
            Effect: Allow
            Resource: "*"
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - OpenCase63488817
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - AssignCase8D7DE9BB
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - HandleCase0240F67C
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - CloseCaseF91C7DE7
                - Arn
          - Action: sns:Publish
            Effect: Allow
            Resource:
              Ref: EscalationTopic8FD7D57B
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - EscalateCaseD75803A6
                - Arn
        Version: "2012-10-17"
      PolicyName: CallCenterStateMachineRoleDefaultPolicy36C298BD
      Roles:
        - Ref: CallCenterStateMachineRoleCCD56559
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/CallCenterStateMachine/Role/DefaultPolicy/Resource
  CallCenterStateMachine531D8829:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - CallCenterStateMachineRoleCCD56559
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"OpenCaseState","States":{"OpenCaseState":{"Next":"AssignCaseState","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - OpenCase63488817
                - Arn
            - '","Payload.$":"$"}},"AssignCaseState":{"Next":"HandleCaseState","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - AssignCase8D7DE9BB
                - Arn
            - '","Payload.$":"$"}},"HandleCaseState":{"Next":"IsCaseResolved","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - HandleCase0240F67C
                - Arn
            - '","Payload.$":"$"}},"IsCaseResolved":{"Type":"Choice","Choices":[{"Variable":"$.Payload.Status","NumericEquals":1,"Next":"CloseCaseState"},{"Variable":"$.Payload.Status","NumericEquals":0,"Next":"EscaleteCaseState"}]},"CloseCaseState":{"Next":"OutPut","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - CloseCaseF91C7DE7
                - Arn
            - '","Payload.$":"$"}},"OutPut":{"Type":"Pass","OutputPath":"$.Payload","End":true},"PublishToEscalationTopic":{"Next":"OutPut","Type":"Task","ResultPath":"$.sns","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::sns:publish","Parameters":{"TopicArn":"
            - Ref: EscalationTopic8FD7D57B
            - '","Message.$":"$.Payload"}},"EscaleteCaseState":{"Next":"PublishToEscalationTopic","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - EscalateCaseD75803A6
                - Arn
            - '","Payload.$":"$"}}}}'
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn:
                Fn::GetAtt:
                  - CallCenterStateMachineLogGroupAE710B0E
                  - Arn
        Level: ERROR
      StateMachineName: CallCenterStateMachine
      StateMachineType: EXPRESS
      TracingConfiguration:
        Enabled: true
    DependsOn:
      - CallCenterStateMachineRoleDefaultPolicy36C298BD
      - CallCenterStateMachineRoleCCD56559
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/CallCenterStateMachine/Resource
  StepFuncSyncHttpApi7EA39F02:
    Type: AWS::ApiGatewayV2::Api
    Properties:
      Name: StepFuncSyncHttpApi
      ProtocolType: HTTP
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/StepFuncSyncHttpApi/Resource
  StepFuncSyncHttpApiDefaultStageE9D0B383:
    Type: AWS::ApiGatewayV2::Stage
    Properties:
      ApiId:
        Ref: StepFuncSyncHttpApi7EA39F02
      StageName: $default
      AutoDeploy: true
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/StepFuncSyncHttpApi/DefaultStage/Resource
  RoleV2F5274544:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: apigateway.amazonaws.com
        Version: "2012-10-17"
      Policies:
        - PolicyDocument:
            Statement:
              - Action: states:StartSyncExecution
                Effect: Allow
                Resource:
                  Ref: CallCenterStateMachine531D8829
            Version: "2012-10-17"
          PolicyName: PolicyV2
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/RoleV2/Resource
  StepFnINteg:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId:
        Ref: StepFuncSyncHttpApi7EA39F02
      IntegrationType: AWS_PROXY
      ConnectionType: INTERNET
      CredentialsArn:
        Fn::GetAtt:
          - RoleV2F5274544
          - Arn
      IntegrationSubtype: StepFunctions-StartSyncExecution
      PayloadFormatVersion: "1.0"
      RequestParameters:
        Input: $request.body
        StateMachineArn:
          Ref: CallCenterStateMachine531D8829
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/StepFnINteg
  PostRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId:
        Ref: StepFuncSyncHttpApi7EA39F02
      RouteKey: POST /start
      Target:
        Fn::Join:
          - ""
          - - integrations/
            - Ref: StepFnINteg
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/PostRoute
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Analytics: v2:deflate64:H4sIAAAAAAAAE11RQU7DMBB8C3fHVQoHuFFVAiqBCCkfcB033SaxjXfdqor8d2yHqBWX7Iwzs7Nel/zpgZd3z+KMhWy6xSiNU3zckpAdWyEqirAF3bJaofFOKrY2Gsl5SWy915VwYlCkXCKfnqzPx1fxXkd9AwRGB5ZSxl4Mu0bw8cVrmY6TZsaBgRj4WJs+W3OtTA/yksMyCgzvC5FGQ54nZKiRj9/GgkyqCWz9DqUDOyfc8tjhJzq+vPI5ZgL5ew27oVFPyu7/ZozOKsaz9cFAvGHcD6kPIQ+gc7Nb/s9YkMAu2t/zBjb6ZLro11j5XQ94CKw3bfpt2ldnvE3dZhx3Z6GNnc/iclry8Y3IriwkSSqJpoeaJ5jARpNqnZhXUBtPKoTAtGkUP+LiVD7ychmf/4gAhfOaYFC8nuovPm3njhoCAAA=
    Metadata:
      aws:cdk:path: SyncStepFunctionStack/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Parameters:
  AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3Bucket4C168A1A:
    Type: String
    Description: S3 bucket for asset "f7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1"
  AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1S3VersionKey6F9EBAE5:
    Type: String
    Description: S3 key for asset version "f7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1"
  AssetParametersf7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1ArtifactHash10D3FC28:
    Type: String
    Description: Artifact hash for asset "f7f492c710f1638106e7cbe6a7c228bf615b7c9b26a7b43e2e7b138fea4142d1"
Outputs:
  SyncApiOutput:
    Description: Api url
    Value:
      Fn::Join:
        - ""
        - - https://
          - Ref: StepFuncSyncHttpApi7EA39F02
          - .execute-api.
          - Ref: AWS::Region
          - "."
          - Ref: AWS::URLSuffix
          - /
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2

