pipr_dataset/382521024.yaml
Description: Serverless API Gateway Load Testing Framework.
Parameters:
  apiGatewayUrl:
    Type: String
    Description: API Gateway URL being load tested.
  AssetParameters016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dcS3BucketDBC4B51D:
    Type: String
    Description: S3 bucket for asset "016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dc"
  AssetParameters016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dcS3VersionKeyDA02F962:
    Type: String
    Description: S3 key for asset version "016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dc"
  AssetParameters016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dcArtifactHash4AD90612:
    Type: String
    Description: Artifact hash for asset "016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dc"
  AssetParameters72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490S3BucketE8EC52FF:
    Type: String
    Description: S3 bucket for asset "72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490"
  AssetParameters72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490S3VersionKey737F2B65:
    Type: String
    Description: S3 key for asset version "72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490"
  AssetParameters72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490ArtifactHashE3B5816E:
    Type: String
    Description: Artifact hash for asset "72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490"
  AssetParameters2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206bS3BucketFCDC5F07:
    Type: String
    Description: S3 bucket for asset "2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206b"
  AssetParameters2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206bS3VersionKey517EF994:
    Type: String
    Description: S3 key for asset version "2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206b"
  AssetParameters2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206bArtifactHash65ACDCBE:
    Type: String
    Description: Artifact hash for asset "2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206b"
  AssetParameters4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41S3Bucket48030C81:
    Type: String
    Description: S3 bucket for asset "4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41"
  AssetParameters4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41S3VersionKey3B2F8FBD:
    Type: String
    Description: S3 key for asset version "4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41"
  AssetParameters4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41ArtifactHashC536BE3C:
    Type: String
    Description: Artifact hash for asset "4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41"
  AssetParameters7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706S3Bucket9612BC5D:
    Type: String
    Description: S3 bucket for asset "7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706"
  AssetParameters7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706S3VersionKey754FF565:
    Type: String
    Description: S3 key for asset version "7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706"
  AssetParameters7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706ArtifactHash42511FCD:
    Type: String
    Description: Artifact hash for asset "7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706"
  AssetParameters46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61bS3BucketD47CF8FF:
    Type: String
    Description: S3 bucket for asset "46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61b"
  AssetParameters46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61bS3VersionKeyC36585ED:
    Type: String
    Description: S3 key for asset version "46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61b"
  AssetParameters46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61bArtifactHash466FA8EA:
    Type: String
    Description: Artifact hash for asset "46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61b"
Resources:
  customEmailSenderServiceRoleBF40400B:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/customEmailSender/ServiceRole/Resource
  customEmailSender8DB4CFA9:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dcS3BucketDBC4B51D
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dcS3VersionKeyDA02F962
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dcS3VersionKeyDA02F962
      Role:
        Fn::GetAtt:
          - customEmailSenderServiceRoleBF40400B
          - Arn
      Handler: index.handler
      Runtime: nodejs12.x
    DependsOn:
      - customEmailSenderServiceRoleBF40400B
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/customEmailSender/Resource
      aws:asset:path: asset.016b25817406ac6956e9ff8857a0e12ddf72f2806f239ad2c6db9ff1c0f9b2dc
      aws:asset:property: Code
  customEmailSenderInvokeServicePrincipalcognitoidpamazonawscomF4DDC689:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Fn::GetAtt:
          - customEmailSender8DB4CFA9
          - Arn
      Principal: cognito-idp.amazonaws.com
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/customEmailSender/InvokeServicePrincipal(cognito-idp.amazonaws.com)
  apiloadtestCustomEmailSenderKey53AD0C5C:
    Type: AWS::KMS::Key
    Properties:
      KeyPolicy:
        Statement:
          - Action:
              - kms:Create*
              - kms:Describe*
              - kms:Enable*
              - kms:List*
              - kms:Put*
              - kms:Update*
              - kms:Revoke*
              - kms:Disable*
              - kms:Get*
              - kms:Delete*
              - kms:ScheduleKeyDeletion
              - kms:CancelKeyDeletion
              - kms:GenerateDataKey
              - kms:TagResource
              - kms:UntagResource
            Effect: Allow
            Principal:
              AWS:
                Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":iam::"
                    - Ref: AWS::AccountId
                    - :root
            Resource: "*"
        Version: "2012-10-17"
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/apiloadtest-CustomEmailSenderKey/Resource
  apiloadtestcognitoUserPoolE2F44DC1:
    Type: AWS::Cognito::UserPool
    Properties:
      AccountRecoverySetting:
        RecoveryMechanisms:
          - Name: verified_phone_number
            Priority: 1
          - Name: verified_email
            Priority: 2
      AdminCreateUserConfig:
        AllowAdminCreateUserOnly: true
      EmailVerificationMessage: The verification code to your new account is {####}
      EmailVerificationSubject: Verify your new account
      SmsVerificationMessage: The verification code to your new account is {####}
      UserPoolName: apiloadtest-loadtestidp
      VerificationMessageTemplate:
        DefaultEmailOption: CONFIRM_WITH_CODE
        EmailMessage: The verification code to your new account is {####}
        EmailSubject: Verify your new account
        SmsMessage: The verification code to your new account is {####}
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/apiloadtest-cognitoUserPool/Resource
  apiloadtestcognitoUserPooltestusers16C3C54C:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      UserPoolId:
        Ref: apiloadtestcognitoUserPoolE2F44DC1
      AllowedOAuthFlows:
        - implicit
        - code
      AllowedOAuthFlowsUserPoolClient: true
      AllowedOAuthScopes:
        - profile
        - phone
        - email
        - openid
        - aws.cognito.signin.user.admin
      CallbackURLs:
        - https://example.com
      ExplicitAuthFlows:
        - ALLOW_ADMIN_USER_PASSWORD_AUTH
        - ALLOW_REFRESH_TOKEN_AUTH
      SupportedIdentityProviders:
        - COGNITO
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/apiloadtest-cognitoUserPool/testusers/Resource
  createTestUserIdsServiceRole790055CC:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/createTestUserIds/ServiceRole/Resource
  createTestUserIds34A465C0:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490S3BucketE8EC52FF
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490S3VersionKey737F2B65
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490S3VersionKey737F2B65
      Role:
        Fn::GetAtt:
          - createTestUserIdsServiceRole790055CC
          - Arn
      Handler: lambda_function.lambda_handler
      MemorySize: 128
      Runtime: python3.8
      Timeout: 3
    DependsOn:
      - createTestUserIdsServiceRole790055CC
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/createTestUserIds/Resource
      aws:asset:path: asset.72c9aceac43c217bf4e5f4be7b43e2c89bc409fcde331b843aeee28e251a5490
      aws:asset:property: Code
  secretsLayer235C8BD9:
    Type: AWS::Lambda::LayerVersion
    Properties:
      Content:
        S3Bucket:
          Ref: AssetParameters2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206bS3BucketFCDC5F07
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206bS3VersionKey517EF994
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206bS3VersionKey517EF994
      CompatibleRuntimes:
        - python3.8
      Description: A layer for secret manager core functions
      LicenseInfo: Apache-2.0
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/secretsLayer/Resource
      aws:asset:path: asset.2c5e8b4f9b0e5f67f5a20b0d348beadb6e605023e529f4c89c880194bc64206b
      aws:asset:property: Content
  secretsLayeraccountgrantD6AD312D:
    Type: AWS::Lambda::LayerVersionPermission
    Properties:
      Action: lambda:GetLayerVersion
      LayerVersionArn:
        Ref: secretsLayer235C8BD9
      Principal:
        Ref: AWS::AccountId
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/secretsLayer/account-grant
  cleanUpTestUsersServiceRole97991182:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/SecretsManagerReadWrite
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/AmazonCognitoPowerUser
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/cleanUpTestUsers/ServiceRole/Resource
  cleanUpTestUsersF1027176:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41S3Bucket48030C81
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41S3VersionKey3B2F8FBD
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41S3VersionKey3B2F8FBD
      Role:
        Fn::GetAtt:
          - cleanUpTestUsersServiceRole97991182
          - Arn
      Environment:
        Variables:
          client_id:
            Ref: apiloadtestcognitoUserPooltestusers16C3C54C
          userpool_id:
            Ref: apiloadtestcognitoUserPoolE2F44DC1
      Handler: lambda_function.lambda_handler
      Layers:
        - Ref: secretsLayer235C8BD9
      MemorySize: 512
      Runtime: python3.8
      Timeout: 600
    DependsOn:
      - cleanUpTestUsersServiceRole97991182
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/cleanUpTestUsers/Resource
      aws:asset:path: asset.4adebb4947c44ca9e4cab58d06bd8bf23e90b28b3d9e95b992ce268037b83f41
      aws:asset:property: Code
  createTestUsersServiceRole911052A8:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/SecretsManagerReadWrite
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/AmazonCognitoPowerUser
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/createTestUsers/ServiceRole/Resource
  createTestUsers5910D7F3:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706S3Bucket9612BC5D
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706S3VersionKey754FF565
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706S3VersionKey754FF565
      Role:
        Fn::GetAtt:
          - createTestUsersServiceRole911052A8
          - Arn
      Environment:
        Variables:
          client_id:
            Ref: apiloadtestcognitoUserPooltestusers16C3C54C
          userpool_id:
            Ref: apiloadtestcognitoUserPoolE2F44DC1
      Handler: lambda_function.lambda_handler
      Layers:
        - Ref: secretsLayer235C8BD9
      MemorySize: 856
      Runtime: python3.8
      Timeout: 900
    DependsOn:
      - createTestUsersServiceRole911052A8
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/createTestUsers/Resource
      aws:asset:path: asset.7dc92c8aa172e511ca5ce646a0a41f82220c1bc22d3a4755472672c4fefb4706
      aws:asset:property: Code
  triggerLoadTestPerUserServiceRoleB06F962A:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/SecretsManagerReadWrite
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/AmazonCognitoPowerUser
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/triggerLoadTestPerUser/ServiceRole/Resource
  triggerLoadTestPerUserD37ADE8E:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61bS3BucketD47CF8FF
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61bS3VersionKeyC36585ED
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61bS3VersionKeyC36585ED
      Role:
        Fn::GetAtt:
          - triggerLoadTestPerUserServiceRoleB06F962A
          - Arn
      Environment:
        Variables:
          numberOfCallsPerUser: "100"
          client_id:
            Ref: apiloadtestcognitoUserPooltestusers16C3C54C
          userpool_id:
            Ref: apiloadtestcognitoUserPoolE2F44DC1
          api_url:
            Ref: apiGatewayUrl
      Handler: lambda_function.lambda_handler
      Layers:
        - Ref: secretsLayer235C8BD9
      MemorySize: 256
      Runtime: python3.8
      Timeout: 900
    DependsOn:
      - triggerLoadTestPerUserServiceRoleB06F962A
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/triggerLoadTestPerUser/Resource
      aws:asset:path: asset.46757f3cf9bbbd6e879badfaad6ae776b9db225917face1d9dcf9bf27aceb61b
      aws:asset:property: Code
  CreateUsersAndFanOutLogGroup6400DA5F:
    Type: AWS::Logs::LogGroup
    Properties:
      RetentionInDays: 731
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/CreateUsersAndFanOutLogGroup/Resource
  apiloadtestCreateUsersAndFanOutRole8B6133C9:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - states.
                    - Ref: AWS::Region
                    - .amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/apiloadtest-CreateUsersAndFanOut/Role/Resource
  apiloadtestCreateUsersAndFanOutRoleDefaultPolicyEC302320:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogDelivery
              - logs:GetLogDelivery
              - logs:UpdateLogDelivery
              - logs:DeleteLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:DescribeResourcePolicies
              - logs:DescribeLogGroups
            Effect: Allow
            Resource: "*"
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - createTestUserIds34A465C0
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - createTestUsers5910D7F3
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - triggerLoadTestPerUserD37ADE8E
                - Arn
        Version: "2012-10-17"
      PolicyName: apiloadtestCreateUsersAndFanOutRoleDefaultPolicyEC302320
      Roles:
        - Ref: apiloadtestCreateUsersAndFanOutRole8B6133C9
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/apiloadtest-CreateUsersAndFanOut/Role/DefaultPolicy/Resource
  apiloadtestCreateUsersAndFanOut20D94A35:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - apiloadtestCreateUsersAndFanOutRole8B6133C9
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"Is Input Valid?","States":{"Is Input Valid?":{"Type":"Choice","Choices":[{"Variable":"$.users.NumberOfUsers","NumericGreaterThan":1000,"Next":"Input validation failed"},{"Variable":"$.users.NumberOfCallsPerUser","NumericGreaterThan":1000,"Next":"Input validation failed"}],"Default":"CreateTestUserIds"},"CreateTestUserIds":{"Next":"CreateTestUsers","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$.users","ResultPath":"$.taskResult","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - createTestUserIds34A465C0
                - Arn
            - '","Payload.$":"$"}},"CreateTestUsers":{"Next":"LoadTestFanOut","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$.users","OutputPath":"$.taskResult.Payload.userNames","ResultPath":"$.createResult","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - createTestUsers5910D7F3
                - Arn
            - '","Payload.$":"$"}},"LoadTestFanOut":{"Type":"Map","ResultPath":null,"Next":"TestComplete","InputPath":"$","Iterator":{"StartAt":"TriggerLoadTest","States":{"TriggerLoadTest":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","ResultPath":null,"Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - triggerLoadTestPerUserD37ADE8E
                - Arn
            - '","Payload.$":"$"}}}},"MaxConcurrency":0},"TestComplete":{"Type":"Pass","End":true},"Input validation failed":{"Type":"Fail","Error":"NumberOfUsers > 1000 OR NumberOfCallsPerUser > 1000","Cause":"Input Validation Failed. Please ensure NumberOfUser & NumberOfCallsPerUser do not exceed limits."}}}'
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn:
                Fn::GetAtt:
                  - CreateUsersAndFanOutLogGroup6400DA5F
                  - Arn
        Level: ALL
    DependsOn:
      - apiloadtestCreateUsersAndFanOutRoleDefaultPolicyEC302320
      - apiloadtestCreateUsersAndFanOutRole8B6133C9
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/apiloadtest-CreateUsersAndFanOut/Resource
  CleanUpTaskLogGroup4F0FF4C0:
    Type: AWS::Logs::LogGroup
    Properties:
      RetentionInDays: 731
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/CleanUpTaskLogGroup/Resource
  apiloadtestDeleteTestUsersRoleFB468A58:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - states.
                    - Ref: AWS::Region
                    - .amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/apiloadtest-DeleteTestUsers/Role/Resource
  apiloadtestDeleteTestUsersRoleDefaultPolicy27CE6F24:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogDelivery
              - logs:GetLogDelivery
              - logs:UpdateLogDelivery
              - logs:DeleteLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:DescribeResourcePolicies
              - logs:DescribeLogGroups
            Effect: Allow
            Resource: "*"
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - cleanUpTestUsersF1027176
                - Arn
        Version: "2012-10-17"
      PolicyName: apiloadtestDeleteTestUsersRoleDefaultPolicy27CE6F24
      Roles:
        - Ref: apiloadtestDeleteTestUsersRoleFB468A58
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/apiloadtest-DeleteTestUsers/Role/DefaultPolicy/Resource
  apiloadtestDeleteTestUsers44BC3156:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - apiloadtestDeleteTestUsersRoleFB468A58
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"CleanUpTask","States":{"CleanUpTask":{"Next":"TestCleanUpComplete","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - cleanUpTestUsersF1027176
                - Arn
            - '","Payload.$":"$"}},"TestCleanUpComplete":{"Type":"Pass","End":true}}}'
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn:
                Fn::GetAtt:
                  - CleanUpTaskLogGroup4F0FF4C0
                  - Arn
        Level: ALL
    DependsOn:
      - apiloadtestDeleteTestUsersRoleDefaultPolicy27CE6F24
      - apiloadtestDeleteTestUsersRoleFB468A58
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/apiloadtest-DeleteTestUsers/Resource
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Modules: aws-cdk=2.113.0,@aws-cdk/assets=1.89.0,@aws-cdk/aws-applicationautoscaling=1.89.0,@aws-cdk/aws-autoscaling=1.89.0,@aws-cdk/aws-autoscaling-common=1.89.0,@aws-cdk/aws-autoscaling-hooktargets=1.89.0,@aws-cdk/aws-cloudwatch=1.89.0,@aws-cdk/aws-codebuild=1.89.0,@aws-cdk/aws-codeguruprofiler=1.89.0,@aws-cdk/aws-cognito=1.89.0,@aws-cdk/aws-ec2=1.89.0,@aws-cdk/aws-ecr=1.89.0,@aws-cdk/aws-ecr-assets=1.89.0,@aws-cdk/aws-ecs=1.89.0,@aws-cdk/aws-elasticloadbalancingv2=1.89.0,@aws-cdk/aws-events=1.89.0,@aws-cdk/aws-iam=1.89.0,@aws-cdk/aws-kms=1.89.0,@aws-cdk/aws-lambda=1.89.0,@aws-cdk/aws-logs=1.89.0,@aws-cdk/aws-s3=1.89.0,@aws-cdk/aws-s3-assets=1.89.0,@aws-cdk/aws-servicediscovery=1.89.0,@aws-cdk/aws-sns=1.89.0,@aws-cdk/aws-sns-subscriptions=1.89.0,@aws-cdk/aws-sqs=1.89.0,@aws-cdk/aws-ssm=1.89.0,@aws-cdk/aws-stepfunctions=1.89.0,@aws-cdk/aws-stepfunctions-tasks=1.89.0,@aws-cdk/cloud-assembly-schema=1.89.0,@aws-cdk/core=1.89.0,@aws-cdk/custom-resources=1.89.0,@aws-cdk/cx-api=1.89.0,@aws-cdk/region-info=1.89.0,jsii-runtime=node.js/v18.12.1
    Metadata:
      aws:cdk:path: aws-apiloadtest-framework/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Outputs:
  UserPoolID:
    Description: User Pool ID
    Value:
      Ref: apiloadtestcognitoUserPoolE2F44DC1
    Export:
      Name: UserPoolID
  AppClientID:
    Description: App Client ID
    Value:
      Ref: apiloadtestcognitoUserPooltestusers16C3C54C
    Export:
      Name: AppClientID
  KMSKey:
    Description: CustomEmailSender KMS Key ARN
    Value:
      Fn::GetAtt:
        - apiloadtestCustomEmailSenderKey53AD0C5C
        - Arn
    Export:
      Name: CustomEmailSenderKMSKey
  CustomEmailSenderLambda:
    Description: CustomEmailSender lambda function
    Value:
      Fn::GetAtt:
        - customEmailSender8DB4CFA9
        - Arn
    Export:
      Name: CustomEmailSenderLambdaARN
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2

