pipr_dataset/415817127.yaml
Resources:
  TransactionTable34F3B683:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        - AttributeName: Id
          KeyType: HASH
      AttributeDefinitions:
        - AttributeName: Id
          AttributeType: S
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: stock-trader-app/TransactionTable/Resource
  StockCheckerFunctionServiceRoleC8D7B6F9:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: stock-trader-app/StockCheckerFunction/ServiceRole/Resource
  StockCheckerFunctionServiceRoleDefaultPolicy80FA6B08:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - xray:PutTraceSegments
              - xray:PutTelemetryRecords
            Effect: Allow
            Resource: "*"
        Version: "2012-10-17"
      PolicyName: StockCheckerFunctionServiceRoleDefaultPolicy80FA6B08
      Roles:
        - Ref: StockCheckerFunctionServiceRoleC8D7B6F9
    Metadata:
      aws:cdk:path: stock-trader-app/StockCheckerFunction/ServiceRole/DefaultPolicy/Resource
  StockCheckerFunction2FC52A02:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86S3Bucket39D423DA
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86S3VersionKeyC2CAC29A
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86S3VersionKeyC2CAC29A
      Role:
        Fn::GetAtt:
          - StockCheckerFunctionServiceRoleC8D7B6F9
          - Arn
      Handler: app.lambda_handler
      Runtime: python3.8
      TracingConfig:
        Mode: Active
    DependsOn:
      - StockCheckerFunctionServiceRoleDefaultPolicy80FA6B08
      - StockCheckerFunctionServiceRoleC8D7B6F9
    Metadata:
      aws:cdk:path: stock-trader-app/StockCheckerFunction/Resource
      aws:asset:path: asset.42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86
      aws:asset:property: Code
  StockSellerFunctionServiceRole4CAE30EA:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: stock-trader-app/StockSellerFunction/ServiceRole/Resource
  StockSellerFunctionServiceRoleDefaultPolicyCF8DBFF3:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - xray:PutTraceSegments
              - xray:PutTelemetryRecords
            Effect: Allow
            Resource: "*"
        Version: "2012-10-17"
      PolicyName: StockSellerFunctionServiceRoleDefaultPolicyCF8DBFF3
      Roles:
        - Ref: StockSellerFunctionServiceRole4CAE30EA
    Metadata:
      aws:cdk:path: stock-trader-app/StockSellerFunction/ServiceRole/DefaultPolicy/Resource
  StockSellerFunction2FA8D96A:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersa4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2S3Bucket4F22E4DE
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersa4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2S3VersionKey2B682668
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersa4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2S3VersionKey2B682668
      Role:
        Fn::GetAtt:
          - StockSellerFunctionServiceRole4CAE30EA
          - Arn
      Handler: app.lambda_handler
      Runtime: python3.8
      TracingConfig:
        Mode: Active
    DependsOn:
      - StockSellerFunctionServiceRoleDefaultPolicyCF8DBFF3
      - StockSellerFunctionServiceRole4CAE30EA
    Metadata:
      aws:cdk:path: stock-trader-app/StockSellerFunction/Resource
      aws:asset:path: asset.a4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2
      aws:asset:property: Code
  StockBuyerFunctionServiceRoleDC0799DC:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: stock-trader-app/StockBuyerFunction/ServiceRole/Resource
  StockBuyerFunctionServiceRoleDefaultPolicyCADDC267:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - xray:PutTraceSegments
              - xray:PutTelemetryRecords
            Effect: Allow
            Resource: "*"
        Version: "2012-10-17"
      PolicyName: StockBuyerFunctionServiceRoleDefaultPolicyCADDC267
      Roles:
        - Ref: StockBuyerFunctionServiceRoleDC0799DC
    Metadata:
      aws:cdk:path: stock-trader-app/StockBuyerFunction/ServiceRole/DefaultPolicy/Resource
  StockBuyerFunction22F86D05:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13dS3BucketBE330964
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13dS3VersionKey155E599C
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13dS3VersionKey155E599C
      Role:
        Fn::GetAtt:
          - StockBuyerFunctionServiceRoleDC0799DC
          - Arn
      Handler: app.lambda_handler
      Runtime: python3.8
      TracingConfig:
        Mode: Active
    DependsOn:
      - StockBuyerFunctionServiceRoleDefaultPolicyCADDC267
      - StockBuyerFunctionServiceRoleDC0799DC
    Metadata:
      aws:cdk:path: stock-trader-app/StockBuyerFunction/Resource
      aws:asset:path: asset.5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13d
      aws:asset:property: Code
  StockTradingStateMachineRole31AE4B94:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - states.
                    - Ref: AWS::Region
                    - .amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: stock-trader-app/StockTradingStateMachine/Role/Resource
  StockTradingStateMachineRoleDefaultPolicyB0ABF335:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - xray:PutTraceSegments
              - xray:PutTelemetryRecords
              - xray:GetSamplingRules
              - xray:GetSamplingTargets
            Effect: Allow
            Resource: "*"
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - StockCheckerFunction2FC52A02
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - StockSellerFunction2FA8D96A
                - Arn
          - Action: dynamodb:PutItem
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:"
                  - Ref: AWS::Partition
                  - ":dynamodb:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :table/
                  - Ref: TransactionTable34F3B683
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - StockBuyerFunction22F86D05
                - Arn
          - Action:
              - dynamodb:BatchWriteItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - TransactionTable34F3B683
                  - Arn
              - Ref: AWS::NoValue
        Version: "2012-10-17"
      PolicyName: StockTradingStateMachineRoleDefaultPolicyB0ABF335
      Roles:
        - Ref: StockTradingStateMachineRole31AE4B94
    Metadata:
      aws:cdk:path: stock-trader-app/StockTradingStateMachine/Role/DefaultPolicy/Resource
  StockTradingStateMachineB8CE9B37:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - StockTradingStateMachineRole31AE4B94
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"CheckStockValue","States":{"CheckStockValue":{"Next":"BuyOrSell","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2},{"ErrorEquals":["States.TaskFailed"],"IntervalSeconds":15,"MaxAttempts":5,"BackoffRate":1.5}],"Type":"Task","Resource":"'
            - Fn::GetAtt:
                - StockCheckerFunction2FC52A02
                - Arn
            - '"},"BuyOrSell":{"Type":"Choice","Choices":[{"Variable":"$.stock_price","NumericLessThan":50,"Next":"BuyStock"}],"Default":"SellStock"},"SellStock":{"Next":"RecordTransaction","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2},{"ErrorEquals":["States.TaskFailed"],"IntervalSeconds":2,"MaxAttempts":3,"BackoffRate":1}],"Type":"Task","Resource":"'
            - Fn::GetAtt:
                - StockSellerFunction2FA8D96A
                - Arn
            - '"},"RecordTransaction":{"End":true,"Retry":[{"ErrorEquals":["States.TaskFailed"],"IntervalSeconds":20,"MaxAttempts":5,"BackoffRate":10}],"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::dynamodb:putItem","Parameters":{"Item":{"Id":{"S.$":"$.id"},"Type":{"S.$":"$.type"},"Price":{"S.$":"$.price"},"Quantity":{"S.$":"$.qty"},"Timestamp":{"S.$":"$.timestamp"}},"TableName":"
            - Ref: TransactionTable34F3B683
            - '"}},"BuyStock":{"Next":"RecordTransaction","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2},{"ErrorEquals":["States.TaskFailed"],"IntervalSeconds":2,"MaxAttempts":3,"BackoffRate":1}],"Type":"Task","Resource":"'
            - Fn::GetAtt:
                - StockBuyerFunction22F86D05
                - Arn
            - '"}}}'
      TracingConfiguration:
        Enabled: true
    DependsOn:
      - StockTradingStateMachineRoleDefaultPolicyB0ABF335
      - StockTradingStateMachineRole31AE4B94
    Metadata:
      aws:cdk:path: stock-trader-app/StockTradingStateMachine/Resource
  StockTradingStateMachineEventsRoleA1517C3B:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: events.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: stock-trader-app/StockTradingStateMachine/EventsRole/Resource
  StockTradingStateMachineEventsRoleDefaultPolicy5972935B:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: states:StartExecution
            Effect: Allow
            Resource:
              Ref: StockTradingStateMachineB8CE9B37
        Version: "2012-10-17"
      PolicyName: StockTradingStateMachineEventsRoleDefaultPolicy5972935B
      Roles:
        - Ref: StockTradingStateMachineEventsRoleA1517C3B
    Metadata:
      aws:cdk:path: stock-trader-app/StockTradingStateMachine/EventsRole/DefaultPolicy/Resource
  MinuteTradingScheduleB8F30707:
    Type: AWS::Events::Rule
    Properties:
      ScheduleExpression: cron(* * * * ? *)
      State: ENABLED
      Targets:
        - Arn:
            Ref: StockTradingStateMachineB8CE9B37
          Id: Target0
          RoleArn:
            Fn::GetAtt:
              - StockTradingStateMachineEventsRoleA1517C3B
              - Arn
    Metadata:
      aws:cdk:path: stock-trader-app/MinuteTradingSchedule/Resource
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Analytics: v2:deflate64:H4sIAAAAAAAA/1VQ0U7DMAz8lr2nHgUeeIQVIU0CURV+wE29LWubTLVTNEX5d9JsIHjynePzXVxCeXsPN6tH/OJCd/06aDcRhA9B3auG2PlJk3piJkm9vbF7VTnLMnktqtrZGiccSWhayLuXk8/tX2XCab4zYpyNanEJ3dni6LoWwie2Qx7JIKoBx7ZDCC/e6kWwPP3gqAyOEBp3UeRau8Hoc46RUVR8V+CSlSFHThw2XvckG2RSLHTaXfdxIcg9Q3jNpls7u57Uc85We9kKjfG/AEJ1cCb9KR1C6A31wdic5S+PimayyT80/po01Rijsq4jOPJ6Lh/S0aFcHdmYYvJWzEjQXOo315YYTpABAAA=
    Metadata:
      aws:cdk:path: stock-trader-app/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Parameters:
  AssetParameters42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86S3Bucket39D423DA:
    Type: String
    Description: S3 bucket for asset "42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86"
  AssetParameters42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86S3VersionKeyC2CAC29A:
    Type: String
    Description: S3 key for asset version "42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86"
  AssetParameters42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86ArtifactHashEC1695FD:
    Type: String
    Description: Artifact hash for asset "42e48f6d1114a45c6d9a736fc8ba505e044786cf1f22d31c231c118b95284b86"
  AssetParametersa4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2S3Bucket4F22E4DE:
    Type: String
    Description: S3 bucket for asset "a4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2"
  AssetParametersa4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2S3VersionKey2B682668:
    Type: String
    Description: S3 key for asset version "a4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2"
  AssetParametersa4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2ArtifactHash955B74D6:
    Type: String
    Description: Artifact hash for asset "a4a7b5dc0cdb9625bf156be88bbde0a9db68449701ec425e2ecf3f9d2424a4f2"
  AssetParameters5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13dS3BucketBE330964:
    Type: String
    Description: S3 bucket for asset "5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13d"
  AssetParameters5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13dS3VersionKey155E599C:
    Type: String
    Description: S3 key for asset version "5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13d"
  AssetParameters5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13dArtifactHash629C099F:
    Type: String
    Description: Artifact hash for asset "5ff9140015702c8b13e60bfa23d283e89aaf3e4c4f26416e2e9907f5b844e13d"
Outputs:
  CheckStockFunctionName:
    Value:
      Ref: StockCheckerFunction2FC52A02
  BuyStockFunctionName:
    Value:
      Ref: StockBuyerFunction22F86D05
  SellStockFunctionName:
    Value:
      Ref: StockSellerFunction2FA8D96A
  StockTradingStateMachineName:
    Value:
      Fn::GetAtt:
        - StockTradingStateMachineB8CE9B37
        - Name
  TransactionTable:
    Value:
      Ref: TransactionTable34F3B683
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2

